<div class="callSearchSection mobileHiddenElement" id="call_log_contact_search_panel"></div>
<div class="callHistoryPage" id="callHistoryPage"></div>
<div class="callDetails-section mobileHiddenElement tabletHiddenElement" id="callDetails-section"></div>