<div class="callHistoryPage" id="callHistoryPage">
    <div class="header">
        <h1>Call History</h1>
        <div class="pillsContainer">

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label blue"><i style="color: #0069FF" class='bx bxs-phone-incoming'></i>Incoming</div>
            </div>

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label green"><i style="color: #0dbd47" class='bx bxs-phone-outgoing'></i>Outgoing</div>
            </div>

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label red"><i style="color: #ff2424" class='bx bxs-phone-off'></i>Missed</div>
            </div>
        </div>
    </div>
    <div class="callHistoryPageBody">
        <div class="list-call-section" id="list-call-section">
            <div class="section-header">
                <h1>Calls</h1>
            </div>
            <div class="list-call-section-content" id="list-call-section-content">
                <!--
                <div class="call-log">
                    <div class="line1">
                        <div class="picture">pic</div>
                        <div class="nameAndType">
                            <div class="callMembers">Alain Paulin Niyonkuru</div>
                            <div class="callType blue"><i class='bx bxs-phone-incoming'></i>Incoming</div>
                        </div>
                        <div class="dateTime">4th June 2022 &bull;</div>
                        <div class="duration">12 min</div>
                        <div class="universalCallButtons">
                            <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                            <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                            <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                        </div>
                    </div>
                    <div class="line2">
                        <div class="picture">
                            <img src="https://images.unsplash.com/photo-1566821582776-92b13ab46bb4?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant">
                        </div>
                        <div class="picture">pic</div>
                        <div class="picture">pic</div>
                    </div>
                </div>
                <div class="call-log">
                    <div class="line1">
                        <div class="picture">pic</div>
                        <div class="nameAndType">
                            <div class="callMembers">Alain Paulin Niyonkuru</div>
                            <div class="callType blue"><i class='bx bxs-phone-incoming'></i>Incoming</div>
                        </div>
                        <div class="dateTime">4th June 2022 &bull;</div>
                        <div class="duration">12 min</div>
                        <div class="universalCallButtons">
                            <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                            <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                            <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                        </div>
                    </div>
                    <div class="line2">
                        <div class="picture">pic</div>
                        <div class="picture">pic</div>
                        <div class="picture">pic</div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="callDetails-section" id="callDetails-section">
            <div class="section-header">
                <h1>Call details</h1>
            </div>
            <div class="details-section-content">
                <div class="topDetailsCard">
                    <div class="circle">
                        <i class='bx bxs-phone-incoming'></i>
                    </div>
                </div>
                <div class="callTitleContent">
                    <h1>Name Call</h1>
                    <h2>Pin this call <i class='bx bxs-pin'></i></h2>
                </div>
                <div class="allPartifipantDiv">
                    <div class="header">
                        <h1>Participants</h1>
                        <button id="callParticipantsBtn"><i class='bx bx-chevron-right'></i></button>
                    </div>
                </div>
                <div id="callParticipantsDiv" class="callParticipants displayNoneToggle">

                    <div class="callParticipant">
                        <div class="partifipantPicture">PP</div>
                        <div class="nameOnlineStatus">
                            <div class="name">Claude Hategekima</div>
                            <div class="onlineStatus green">Online</div>
                        </div>
                        <div class="universalCallButtons">
                            <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                            <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                            <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                        </div>
                    </div>
                    <div class="callParticipant ">
                        <div class="partifipantPicture">PP</div>
                        <div class="nameOnlineStatus">
                            <div class="name">Claude Hategekimaaaaaaaaa</div>
                            <div class="onlineStatus green">Online</div>
                        </div>
                        <div class="universalCallButtons">
                            <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                            <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                            <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                        </div>
                    </div>
                    <div class="callParticipant">
                        <div class="partifipantPicture">PP</div>
                        <div class="nameOnlineStatus">
                            <div class="name">Claude Hategekimaaaaaaaaa</div>
                            <div class="onlineStatus green">Online</div>
                        </div>
                        <div class="universalCallButtons">
                            <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                            <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                            <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ongoingCallPage" id="ongoingCallPage">
    {{> ongoingCall}}
</div>