<div class="callSearchSection" id="call_log_contact_search_panel">
    {{!-- <div class='c-chats__header'>
        <div id="chatSearch" class="chatSearch displayed">
            <label aria-label='Search contacts.'><i class='bx bx-search-alt-2'></i></label>
            <input type='text' placeholder='Search contacts'>
        </div>
    </div>
    <div class="searchResultsDiv">
        <div class="listMember"><img class="memberProfilePicture" src="/private/profiles/user-128.png">
            <div class="memberNameRole">
                <div class="memberName">Test1Name Test1Surname</div>
                <div class="memberRole">Central Branding Director</div>
            </div><button><i class="bx bxs-phone-off"></i>
                <p>Offline</p>
            </button><button><i class="bx bxs-message-square-detail"></i></button>
        </div>
        <div class="listMember">
            <div class="memberProfilePicture">TT</div>
            <div class="memberNameRole">
                <div class="memberName">Test3Name Test3Surname</div>
                <div class="memberRole">Future Metrics Vice President</div>
            </div><button><i class="bx bxs-phone-off"></i>
                <p>Offline</p>
            </button><button><i class="bx bxs-message-square-detail"></i></button>
        </div>
        <div class="listMember">
            <div class="memberProfilePicture">tt</div>
            <div class="memberNameRole">
                <div class="memberName">test4Name test4Surname</div>
                <div class="memberRole">Future Branding Administrator</div>
            </div><button><i class="bx bxs-phone-off"></i>
                <p>Offline</p>
            </button><button><i class="bx bxs-message-square-detail"></i></button>
        </div>
        <div class="listMember">
            <div class="memberProfilePicture">tt</div>
            <div class="memberNameRole">
                <div class="memberName">test5Name test5Surname</div>
                <div class="memberRole">Dynamic Resonance Manager</div>
            </div><button><i class="bx bxs-phone-off"></i>
                <p>Offline</p>
            </button><button><i class="bx bxs-message-square-detail"></i></button>
        </div>
    </div> --}}
</div>
<div class="callHistoryPage" id="callHistoryPage">
    <div class="header">
        <div class="pillsContainer">

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label blue"><i style="color: #0069FF" class='bx bxs-phone-incoming'></i>Incoming</div>
            </div>

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label green"><i style="color: #0dbd47" class='bx bxs-phone-outgoing'></i>Outgoing</div>
            </div>

            <div class="pill">
                <div class="pill-icon">
                    <div class="circle"></div>
                </div>
                <div class="pill-label red"><i style="color: #ff2424" class='bx bxs-phone-off'></i>Missed</div>
            </div>
        </div>
        <h1>Call History</h1>
    </div>
    <div class="callHistoryPageBody">
        <div class="list-call-section" id="list-call-section">
            <div class="section-header">
                <h1>Calls</h1>
            </div>
            <div class="list-call-section-content" id="list-call-section-content">
                <div class="call-log " id="logtTIaM7JtNuds5XfZfStE">
                    <div class="line1">
                        <div class="picture">
                            <img src="/private/profiles/user-129.png" alt="TT">
                        </div>
                        <div class="nameAndType">
                            <div class="callMembers">Test2Name Test2Surname</div>
                            <div class="callType green"><i class="bx bxs-phone-outgoing"></i>Outgoing</div>
                        </div>
                        <div class="dateTime">Mon May 16 2022 23:37:08</div>
                        <!--<div class="duration">&bull; 12 min</div>-->
                        <div class="universalCallButtons">
                            <button class="audioFromCallog" data-id="tTIaM7JtNuds5XfZfStE"><i
                                    class="bx bxs-phone"></i></button>
                            <button class="videoFromCallog" data-id="tTIaM7JtNuds5XfZfStE"><i
                                    class="bx bxs-video-recording"></i></button>
                            <button class="detailsFromCallog" data-id="tTIaM7JtNuds5XfZfStE"><i
                                    class="bx bx-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="line2">


                        <div class="picture orange-bg" title="Test1Name Test1Surname">
                            <img src="/private/profiles/user-128.png" alt="TT">
                        </div>
                        <div class="picture orange-bg" title="Test2Name Test2Surname">
                            <img src="/private/profiles/user-129.png" alt="TT">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>
<div class="callDetails-section" id="callDetails-section">
    <div class="section-header">
        <h1>Call details</h1>
    </div>
    <div class="details-section-content">
        <div class="topDetailsCard">
            <div class="circle">
                <i class='bx bxs-phone-incoming'></i>
            </div>
        </div>
        <div class="callTitleContent">
            <h1>Name Call</h1>
            <h2>Pin this call <i class='bx bxs-pin'></i></h2>
        </div>
        <div class="allPartifipantDiv">
            <div class="header">
                <h1>Participants</h1>
                <button id="callParticipantsBtn"><i class='bx bx-chevron-right'></i></button>
            </div>
        </div>
        <div id="callParticipantsDiv" class="callParticipants displayNoneToggle">

            <div class="callParticipant">
                <div class="partifipantPicture">PP</div>
                <div class="nameOnlineStatus">
                    <div class="name">Claude Hategekima</div>
                    <div class="onlineStatus green">Online</div>
                </div>
                <div class="universalCallButtons">
                    <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                    <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                    <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                </div>
            </div>
            <div class="callParticipant ">
                <div class="partifipantPicture">PP</div>
                <div class="nameOnlineStatus">
                    <div class="name">Claude Hategekimaaaaaaaaa</div>
                    <div class="onlineStatus green">Online</div>
                </div>
                <div class="universalCallButtons">
                    <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                    <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                    <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                </div>
            </div>
            <div class="callParticipant">
                <div class="partifipantPicture">PP</div>
                <div class="nameOnlineStatus">
                    <div class="name">Claude Hategekimaaaaaaaaa</div>
                    <div class="onlineStatus green">Online</div>
                </div>
                <div class="universalCallButtons">
                    <button id="2chatButton"><i class="bx bxs-message-square-add"></i></button>
                    <button id="2audioButton"><i class="bx bxs-phone"></i></button>
                    <button id="2videoButton"><i class="bx bxs-video-recording"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>