<div class="topCard">
    <!--<img src="https://images.unsplash.com/photo-1566821582776-92b13ab46bb4?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="">-->
    <i class='bx bxs-phone-incoming bx-tada call-animation' ></i>
</div>
<div class="incomingCallname" id="incomingCallname">
    Alain Paulin Niyonkuru
</div>
<div class="incomingCallOptions">
    <button onclick="answer(currentCallInfo)"   class="green-bg">Accept</button>
    <button onclick="ignoreIncomingCall()" class="red-bg">Ignore</button>

</div>
<div class="closePopup">
    <div class="universalCallButtons">
        <button onclick="closeIncomingCallPopup()"><i class='bx bx-x-circle red' ></i></button>
    </div>
</div>