<div class="leftPart mobileHiddenElement" id="ongoingCallLeftPart">

</div>
<div class="call-container" id="callMainScreen">
    <div class="callScreenHeader" id="callScreenHeader">

    </div>
    <div class="mainVideoDiv" id="mainVideoDiv">
        
    </div>
    <div class="availableScreens" id="availableScreensDiv">

    </div>
</div>
<div class="rightPart mobileHiddenElement" id="ongoingCallRightPart">

</div>