<div class="leftPart" id="ongoingCallLeftPart">
    {{!-- <div class="leftPartHeaderDivTitle">
        Attendance
    </div> --}}

    <div class="attendanceTitleSection">
        <div id="presenceSelectorBtn" class="leftHeaderItem headerItemSelected">Present (0)</div>
        <div id="absenceSelectorBtn" class="leftHeaderItem">Absent (0)</div>
    </div>
    <div class="attendanceContentDiv">
        <div id="presentMembersDiv" class="presentMembersDiv hiddenDiv">

        </div>
        <div id="absentMembersDiv" class="absentMembersDiv">

        </div>
    </div>
</div>
<div class="call-container">
    <div class="callScreenHeader" id="callScreenHeader">
        {{!-- <div class="headerLeftPart">
            <div class="MeetingTitle">Untitled meeting</div>
            <div class="scheduledTimeContent">Sheduled Time Content</div>
        </div>
        <div class="headerRightPart">
            <div class="meetingTimer">
                <p>Time Remaining</p>
                <span><i class='bx bx-radio-circle-marked'></i>
                    <p>11:50:00</p>
                </span>
            </div>

            <button class="inviteSomeone" id="inviteSomeone">
                <i class='bx bx-plus'></i>
                <p>invite Someone</p>

            </button>
            <div class="popdown " style="">
                <div class="searchField">
                    <input type="text" class="searchField" placeholder="Search users">
                    <button>Done</button>
                </div>
                <div class="invitedDiv">
                    <div class="listMember"><img class="memberProfilePicture" src="/private/profiles/user-129.png">
                        <div class="memberNameRole">
                            <div class="memberName">Test2Name Test2Surname</div>
                            <div class="memberRole">Central Branding Director</div>
                        </div>
                        <button><i class="bx bxs-phone-off"></i>
                            <p>User Offline</p>
                        </button><button><i class="bx bxs-message-square-detail"></i></button>
                    </div>
                    <div class="listMember"><img class="memberProfilePicture" src="/private/profiles/user-128.png">
                        <div class="memberNameRole">
                            <div class="memberName">Test1Name Test1Surname</div>
                            <div class="memberRole">Central Branding Director</div>
                        </div><button><i class="bx bxs-hourglass"></i>
                            <p>Waiting ...</p>
                        </button><button><i class="bx bxs-message-square-detail"></i></button>
                    </div>
                    <div class="listMember">
                        <div class="memberProfilePicture">TT</div>
                        <div class="memberNameRole">
                            <div class="memberName">Test3Name Test3Surname</div>
                            <div class="memberRole">Future Metrics Vice President</div>
                        </div><button><i class="bx bxs-phone-off"></i>
                            <p>User Offline</p>
                        </button><button><i class="bx bxs-message-square-detail"></i></button>
                    </div>
                    <div class="listMember">
                        <div class="memberProfilePicture">tt</div>
                        <div class="memberNameRole">
                            <div class="memberName">test4Name test4Surname</div>
                            <div class="memberRole">Future Branding Administrator</div>
                        </div><button><i class="bx bxs-phone-off"></i>
                            <p>User Offline</p>
                        </button><button><i class="bx bxs-message-square-detail"></i></button>
                    </div>
                    <div class="listMember">
                        <div class="memberProfilePicture">tt</div>
                        <div class="memberNameRole">
                            <div class="memberName">test5Name test5Surname</div>
                            <div class="memberRole">Dynamic Resonance Manager</div>
                        </div><button><i class="bx bxs-phone-off"></i>
                            <p>User Offline</p>
                        </button><button><i class="bx bxs-message-square-detail"></i></button>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
    <div class="mainVideoDiv" id="mainVideoDiv">
        {{!-- <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
        </div> --}}
        {{!-- <video id="mainVideoElement" class="mainVideoElement" autoplay="true"></video>
        <div class="callTopBar">
            <div class="leftUserIdentifiers">
                <div class="mainVideoOwnerProfilePicture">NR</div>
                <div class="mainVideoOwnerProfileNamePosition">
                    <div class="videoOwnerName">Richard Niyonzima</div>
                    <div class="videoOwnerPosition">Student</div>
                </div>

            </div>
            <div class="rightVideoControls">
                <button id="mainVideoFullscreenBtn"><i class='bx bx-fullscreen'></i></button>
            </div>

        </div>
        <div class="callControls">
            <div class="alwaysVisibleControls"></div>

            <div id="hiddableControls" class="hiddableControls">
                <button id="fitVideoToWindowBtn" class="callControl" title="Fit to window"><i
                        class='bx bx-collapse'></i></button>
                <button class="callControl" title="Share screen"><i class='bx bx-window-open'></i></button>
                <button class="callControl" title="Choose video output device">
                    <i class='bx bxs-video-recording'></i>
                    <i class='bx bx-chevron-up'></i>
                </button>
                <button class="callControl" title="Mute video"><i class='bx bx-video-off'></i></button>
                <button class="callControl hangupbtn" title="Leave this call"><i class='bx bxs-phone-off'></i></button>
                <button class="callControl" title="Mute microphone"><i class='bx bxs-microphone-off'></i></button>
                <button class="callControl" title="Silence Audio"><i class='bx bx-volume-mute'></i></button>
                <button class="callControl" title="Choose audio output device">
                    <i class='bx bxs-speaker'></i>
                    <i class='bx bx-chevron-up'></i>
                </button>
            </div>

        </div> --}}
    </div>
    <div class="availableScreens" id="availableScreensDiv">
        
        <div class="screenItem">
            TT
        </div>
        <div class="screenItem screen">
            TT
        </div>
        <div class="screenItem">
            TT
        </div>
        <div class="screenItem active">
            TT
        </div>
        <div class="screenItem">
            TT
        </div>
    </div>
</div>
<div class="rightPart" id="ongoingCallRightPart">
    <div class="rightPartheaderVideoMessaging">
        <div id="participantsSelectorBtn" class="rightHeaderItem participants headerItemSelected">Participants(6)</div>
        <div id="messagesSelectorbtn" class="rightHeaderItem callChat">Messages(3)</div>
    </div>

    <div class="rightPartContentDiv">
        <div id="rightCallParticipantsDiv" class="callParticipantsDiv">

        </div>
        <div id="rightCallMessagesDiv" class="callMessagingDiv hideDivAside">
            <div class="c-openchat__box__info" style="scroll-behavior: smooth;">
                <div class="push-down"></div>
                <div class="message-separator"><span>Fri Jan 07 2022</span></div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="1">
                            <div class="message-received-text" id="1-messageText">Hellowww</div>


                        </div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="2">
                            <div class="message-received-text" id="2-messageText">Protocol ID:
                                d77491a7-a681-4b6c-8c6a-12f91264f6d1protocol
                                Error Pattern Title: LIDL FR: Imprimante Backoffice
                                Snapshot version: 15335
                                Search term: impriamnte bo

                                Answered questions:
                                &nbsp;
                                1. Quelle est le type d'imprimante? -&gt; HP
                                2. Quel est le dysfonctionnement? -&gt; Matériel, (Hardware)

                                Solutions:
                                &nbsp;
                                1. Faire une demande d'intervention sur le site HP successful</div>

                        </div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="3">
                            <div class="message-received-text" id="3-messageText">again?</div>

                        </div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="18">
                            <div class="message-received-text" id="18-messageText">weekdndi</div>

                        </div>
                        <div class="message-received" id="19">
                            <div class="message-received-text" id="19-messageText">wow it is working</div>

                        </div>
                    </div>
                </div>
                <div class="message-separator"><span>Sat Jan 08 2022</span></div>
                <div class="message-group-sent">
                    <div class="message-sent" id="22">

                        <div class="message-sent-text" id="22-messageText">Salama</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                    <div class="message-sent" id="23">

                        <div class="message-sent-text" id="23-messageText">ok</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="message-separator"><span>Mon Jan 10 2022</span></div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="69">
                            <div class="message-received-text" id="69-messageText">hhh</div>

                        </div>
                    </div>
                </div>
                <div class="message-separator"><span>Tue Jan 11 2022</span></div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="71">
                            <div class="message-received-text" id="71-messageText">
                                iuyhjko987ytghho909oikj0-98yufghiokjhgft6789ikjhgyt679iokljbgt6790opkljhgyt679oikjh bn
                                vg7h8injh gvghjni j ghjni jb yghj9ni jb gvyg7jmk b gvyghkmok b gvyg7uikomk fcfymkbvdrenb
                                vghn j vghjmk vguik, ftyuikm cfrt678okm vgyuikjiijhoijbg9olm cfm bhuo,m gy9ol, bhu90pl,
                                ghyu890-;l,m cdr678olkmnbgt789okjbvftolmftyuiol, vgyui jn jn ikm jikm km uiolm
                                cft790olkmnbvfr59oknvcsw4589knbvft678okm m in bhu90plkmnbvcxse49</div>

                        </div>
                    </div>
                </div>
                <div class="message-separator"><span>Wed Jan 12 2022</span></div>
                <div class="message-group-sent">
                    <div class="message-sent" id="76">

                        <div class="message-sent-text" id="76-messageText">hello</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="message-separator"><span>Sat Jan 15 2022</span></div>
                <div class="message-group-sent">
                    <div class="message-sent" id="85">

                        <div class="message-sent-text" id="85-messageText">roteti</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                    <div class="message-sent" id="86">

                        <div class="message-sent-text" id="86-messageText">so bebi reset</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                    <div class="message-sent" id="87">

                        <div class="message-sent-text" id="87-messageText">njahala mind tru riseti</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="message-separator"><span>Sat Jan 22 2022</span></div>
                <div class="message-group-sent">
                    <div class="message-sent" id="88">

                        <div class="message-sent-text" id="88-messageText">so bebi reseti</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <img class="receivedMessageProfile" src="/private/profiles/user-128.png" alt="">
                    </div>
                    <div>
                        <div class="message-received" id="89">
                            <div class="message-received-text" id="89-messageText">itsa wikendi</div>

                        </div>
                        <div class="message-received" id="90">
                            <div class="message-received-text" id="90-messageText">roteti</div>

                        </div>
                        <div class="message-received" id="91">
                            <div class="message-received-text" id="91-messageText">hahahhahahahahahaa</div>

                        </div>
                    </div>
                </div>
                <div class="message-group-sent">
                    <div class="message-sent" id="92">

                        <div class="message-sent-text" id="92-messageText">guys</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                    <div class="message-sent" id="93">

                        <div class="message-sent-text" id="93-messageText">see/?</div>
                        <div class="message-sent-status"><img src="https://randomuser.me/api/portraits/med/men/1.jpg"
                                alt=""></div>
                    </div>
                </div>
                <div class="message-separator"><span>Tue Jan 25 2022</span></div>
                <div class="message-group-received">
                    <div>
                        <div class="receivedMessageProfile">tt</div>
                    </div>
                    <div>
                        <div class="message-received" id="120">
                            <div class="message-received-text" id="120-messageText">Hello wveryone?</div>

                        </div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <div class="receivedMessageProfile">tt</div>
                    </div>
                    <div>
                        <div class="message-received" id="121">
                            <div class="message-received-text" id="121-messageText">hello</div>

                        </div>
                        <div class="message-received" id="122">
                            <div class="message-received-text" id="122-messageText">how are you doing guys?</div>

                        </div>
                    </div>
                </div>
                <div class="message-group-received">
                    <div>
                        <div class="receivedMessageProfile">tt</div>
                    </div>
                    <div>
                        <div class="message-received" id="123">
                            <div class="message-received-text" id="123-messageText">?</div>

                        </div>
                    </div>
                </div>
                <div class="message-separator"><span>Wed Jan 26 2022</span></div>

                <div class="message-separator"><span>Sun Apr 10 2022</span></div>

            </div>
            <div class="typingBox">
                <button class="chat-options" href="" title=""><i class="bx bxs-smile"></i></button>
                <div class="w-input-container" onclick="setFocus()">
                    <div class="w-input-text-group">
                        <div class="w-input-text" contenteditable=""></div>
                        <div class="w-placeholder">Type a message</div>
                    </div>
                </div>
                <button id="sendButton" class="chat-options" href="" title=""><i class="bx bxs-send"></i></button>
            </div>
        </div>
    </div>
</div>