{{#if register_message_success}}
    <p class="message-success">{{register_message_success}}</p>
{{/if}}
{{#if register_message_failure}}
    <p class="message-failure">{{register_message_failure}}</p>
{{/if}}