{{!-- <div class='c-sidepanel__app-header'>
    <div class='c-sidepanel__app-header__hamburger'>
        <ul id='mainMenuToggle'>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <h1>Imperium Line</h1>
</div>
<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' id="messages-option" title='Messaging'>
            <i class='bx bxs-message-square-dots'></i>
            <p>Messaging</p>
        </div>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' id="call-log-option" title='Calls'>
            <i class='bx bxs-phone'></i>
            <p>Calls</p>
        </div>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' id="ongoing-call-option" title='Ongoing call'>
            <i class='bx bxs-phone-call bx-flashing' ></i>
            <p>Ongoing call</p>
        </div>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' id="time_scheduling-option" title='Time Scheduling'>
            <i class='bx bxs-calendar'></i>
            <p>Time Scheduling</p>
        </div>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' id="ongoing-call-option" title='Ongoing call'>
            <i class='bx bx-shield-quarter'></i>
            <p>Admin Panel</p>
        </div>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer c-friends'>

</nav>
<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' href='javascript:void(0);' title='Preferences'>
            <i class='bx bx-slider-alt'></i>
            <p>Preferences</p>
            <button id="preferences-btn"><i class='bx bx-chevron-down'></i></button>
        </div>

        <ul id="preferences-div" class='undropped-down droppable'>
            <li class='c-sidepanel__nav__li left-spacer'>
                <a class='c-sidepanel__nav__link' href='javascript:void(0);' title=''>
                    <i class='bx bxs-moon'></i>
                    <p>Dark mode</p>
                    <div class="switch">
                        <input type="checkbox" id="toggle1" />
                        <label for="toggle1"></label>
                    </div>
                </a>
            </li>
            <li class='c-sidepanel__nav__li left-spacer'>
                <a class='c-sidepanel__nav__link' href='javascript:void(0);' title=''>
                    <i class='bx bxs-bell-off'></i>
                    <p>Silent notifications</p>
                    <div class="switch">
                        <input type="checkbox" id="toggle2" />
                        <label for="toggle2"></label>
                    </div>
                </a>
            </li>
            <li class='c-sidepanel__nav__li left-spacer'>
                <a class='c-sidepanel__nav__link' href='javascript:void(0);' title=''>
                    <i class='bx bxs-video-recording'></i>
                    Audio/Video input
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class='c-sidepanel__nav c-sidepanel__nav--spacer'>
    <div class='c-sidepanel__nav__li'>
        <div class='c-sidepanel__nav__link remove-rightpadding' href='javascript:void(0);' title=''>
            <i class='bx bxs-user-circle'></i>
            <p id="my-name-surname"></p>
            <button id="profile-btn"><i class='bx bx-chevron-down'></i></button>
        </div>

        <ul id="profile-div" class='undropped-down droppable'>
            <li class='c-sidepanel__nav__li left-spacer' id="logout-button"><a class='c-sidepanel__nav__link'
                    title=''><i class='bx bx-log-out-circle'></i>
                    <p>Logout</p>
                </a></li>
            <form id="logoutForm" action="/auth/logout" method="post">
                <input type="text" name="logout" hidden="true" />
            </form>
            <li class='c-sidepanel__nav__li left-spacer'><a class='c-sidepanel__nav__link' href='javascript:void(0);'
                    title=''><i class='bx bxs-user-detail'></i>
                    <p>Edit profile</p>
                </a></li>
        </ul>
    </div>
</nav> --}}