<div class="schedule-container">
    <!--
    <div class="schedule-stage__wrapper">
        <section class="schedule-stage">
            <div class="schedule-stage__title">
                <h3>Stage X</h3>
            </div>
            <div class="schedule-stage_guide-container">
                <div class="guide-slot">
                    <p>8:00am - 9:00am</p>
                    <div class="guide-slot_card">
                        <h4>CSR, SSR, SSG, ISR and OMG.WTF?BBQ!</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="" />
                            </picture>
                            <figcaption>Ahmad Awais</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>9:00am - 10:00am</p>
                    <div class="guide-slot_card">
                        <h4>Changing Lanes with Lyft</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/2.jpg" alt="" />
                            </picture>
                            <figcaption>Joshua Callender</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>9:00am - 10:00am</p>
                    <div class="guide-slot_card">
                        <h4>Magic Authentication - The Missing LEGO Piece</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="" />
                            </picture>
                            <figcaption>Sean Li</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>10:00am - 11:00am</p>
                    <div class="guide-slot_card">
                        <h4>
                            Introducing: Edge Slice Rerendering. Performant A/B Testing,
                            Personalization, and more.
                        </h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/3.jpg" alt="" />
                            </picture>
                            <figcaption>Jay Phelps</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>11:00am - 12:00pm</p>
                    <div class="guide-slot_card">
                        <h4>Everything Is a CMS</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/5.jpg" alt="" />
                            </picture>
                            <figcaption>Sean C Davis</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>12:00pm - 1:00pm</p>
                    <div class="guide-slot_card">
                        <h4>Responsive Rendering with Next.js</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="" />
                            </picture>
                            <figcaption>Armando Gonzalez</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider" />
        <section class="schedule-stage">
            <div class="schedule-stage__title">
                <h3>Stage Y</h3>
            </div>
            <div class="schedule-stage_guide-container">
                <div class="guide-slot">
                    <p>8:00am - 9:00am</p>
                    <div class="guide-slot_card">
                        <h4>Changing Lanes with Lyft</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/2.jpg" alt="" />
                            </picture>
                            <figcaption>Joshua Callender</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>8:00am - 9:00am</p>
                    <div class="guide-slot_card">
                        <h4>Magic Authentication - The Missing LEGO Piece</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="" />
                            </picture>
                            <figcaption>Sean Li</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>8:00am - 9:00am</p>
                    <div class="guide-slot_card">
                        <h4>Magic Authentication - The Missing LEGO Piece</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="" />
                            </picture>
                            <figcaption>Sean Li</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>9:00am - 10:00am</p>
                    <div class="guide-slot_card">
                        <h4>CSR, SSR, SSG, ISR and OMG.WTF?BBQ!</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="" />
                            </picture>
                            <figcaption>Ahmad Awais</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>10:00am - 11:00am</p>
                    <div class="guide-slot_card">
                        <h4>Responsive Rendering with Next.js</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="" />
                            </picture>
                            <figcaption>Armando Gonzalez</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>11:00am - 12:00pm</p>
                    <div class="guide-slot_card">
                        <h4>Everything Is a CMS</h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/5.jpg" alt="" />
                            </picture>
                            <figcaption>Sean C Davis</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="guide-slot">
                    <p>12:00pm - 1:00pm</p>
                    <div class="guide-slot_card">
                        <h4>
                            Introducing: Edge Slice Rerendering. Performant A/B Testing,
                            Personalization, and more.
                        </h4>
                        <figure class="author-wrapper">
                            <picture>
                                <img src="https://randomuser.me/api/portraits/lego/3.jpg" alt="" />
                            </picture>
                            <figcaption>Jay Phelps</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider" />
    </div>
    -->

    <div class="selectionPanel">
        <div class="card">
            <div class="calendar-toolbar">
                <button class="headerButton" id="hideCalendar" title="Hide Calendar"><i
                        class='bx bx-chevron-up'></i></button>
                <button class="prev month-btn" id="prevMonthBtn" title="Previous Month"><i
                        class='bx bx-chevron-left'></i></button>
                <div class="current-month" title="Selected Month"></div>
                <button class="next month-btn" id="nextMonthBtn" title="Next Month"><i
                        class='bx bx-chevron-right'></i></button>
                <button class="headerButton" id="CreateNewEvent" title="Create New Event"><i
                        class='bx bxs-plus-circle'></i></button>
            </div>
            <div class="calendar">
                <div class="weekdays">
                    <div class="weekday-name" title="Saturday">Sa</div>
                    <div class="weekday-name" title="Sunday">Su</div>
                    <div class="weekday-name" title="Monday">Mo</div>
                    <div class="weekday-name" title="Tuesday">Tu</div>
                    <div class="weekday-name" title="Wednesday">We</div>
                    <div class="weekday-name" title="Thursday">Th</div>
                    <div class="weekday-name" title="Friday">Fr</div>
                </div>
                <div class="calendar-days"></div>
            </div>
            <div class="goto-buttons">
                <button type="button" class="btn prev-year" title="Previous Year">Prev Year</button>
                <button type="button" class="btn today" title="Today">Today</button>
                <button type="button" class="btn next-year" title="Next Year">Next Year</button>
            </div>
        </div>
        <div class="pannedItems">
            <div class="pannedItems-Header">
                My Schedule: 3rd March 2022
            </div>
            <div class="planneditemsContent">
                <div class="plannedItem">

                    <div data-id="" class="resultItemBundle" href="" title="">
                        <div class="containerImage">
                            <img src="/images/profiles/user-128.png" alt="">
                        </div>
                        <div class="meeting-data">
                            <div class="nameScopeTime">
                                <p class="meetingName">Team Meeting</p>
                                <p class="scope">DESIGN</p>
                                <p class="time">11:00 - 13:30</p>
                            </div>
                            <div class="universalCallButtons">
                                <button id="1audioButton" class="searchAudioButton"><i
                                        class='bx bxs-trash-alt'></i></button>
                                <button id="1videoButton" class="searchVideoButton"><i
                                        class='bx bx-chevron-right'></i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="plannedItem">

                    <div data-id="" class="resultItemBundle" href="" title="">
                        <div class="containerImage">
                            <img src="/images/profiles/user-128.png" alt="">
                        </div>
                        <div class="meeting-data">
                            <div class="nameScopeTime">
                                <p class="meetingName">Team Meeting</p>
                                <p class="scope">DESIGN</p>
                                <p class="time">11:00 - 13:30</p>
                            </div>
                            <div class="universalCallButtons">
                                <button id="1audioButton" class="searchAudioButton"><i
                                        class='bx bxs-trash-alt'></i></button>
                                <button id="1videoButton" class="searchVideoButton"><i
                                        class='bx bx-chevron-right'></i></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="scheduleDetailsSection hidden" id="scheduleDetailsSectionDiv">
        <div class="header">
            <div class="rightPart">
                <div class="title"> <i class='bx bxs-calendar-event'></i> Title: Team meeting</div>
                <div class="duration"><i class='bx bxs-time'></i> Next Occurence: Thu 22 March 2021 11h40 - Thu 22 March
                    2021 11h40</div>
            </div>
            <div class="leftPart">
                <div class="meetingType">Meeting</div>
                <div class="universalCallButtons">
                    <button><i class='bx bx-dots-vertical-rounded'></i></button>
                </div>
            </div>
        </div>
        <div class="scheduleBody">
            <!--
            <div class="ongoing">
                <p class="ongoingTitle">Meeting is currently ongoing</p>
                <button class="joinMeeting">Join Meeting</button>
            </div>
            -->
            <div class="detailSection remTop alignItems">
                <i class='bx bx-sync'></i>
                <p><strong>Recurrence:</strong> Every Tuesdays</p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bx-user-circle'></i>
                <p><strong>Organizator:</strong> Alain Paulin Niyonkuru</p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-map-pin'></i>
                <p> <strong>Location:</strong> Room B</p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-tag-alt'></i>
                <p> <strong>Context:</strong> SCRUM</p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bx-link'></i>
                <p><a class='link' href="#">Zoom Meeting<i class='bx bx-link-external'></i></a></p>
            </div>
            <div class="detailSection">
                <i class='bx bx-detail'></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eius. Adipisci maiores iste deserunt ex
                    libero doloribus accusamus quae commodi temporibus molestias, ipsam consequuntur quas tenetur ab
                    illo perspiciatis non saepe, doloremque quidem rem. Incidunt, expedita sint temporibus non natus cum
                    animi nisi aperiam voluptate assumenda voluptas laudantium ea, omnis cupiditate nulla fugit amet
                    exercitationem iure, veritatis neque autem tempore unde eligendi. Quidem laborum fuga dolore at
                    labore, reprehenderit sint nihil mollitia. Unde, debitis harum? Distinctio reprehenderit dolores,
                    vitae similique perferendis at molestias fugiat cupiditate maxime, quas quos. Placeat dolores eos,
                    totam hic alias expedita animi fugiat unde repellendus soluta!</p>
            </div>

            <div class="attending">
                <div class="attendingTitle">Are you attending? Yes</div>
                <div class="attendingResponse">
                    <button class="positive">Yes</button>
                    <button class="certain">Maybe</button>
                    <button class="negative">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="newScheduleDetailsSection " id="newScheduleDetailsSection">
        <div class="header">
            <div class="rightPart">
                <div class="title"> <i class='bx bxs-calendar-event'></i> <input type="text" name="title"
                        id="createEventTitle" placeholder="Title" class="textField"></div>
                <div class="duration"><i class='bx bxs-time'></i> <input class="textField" id="planMeetingStart"
                        placeholder="Start"> - <input class="textField" id="planMeetingEnd" placeholder="End"></div>
            </div>
            <div class="leftPart">
                {{!-- <div class="meetingType">Meeting</div> --}}
                <div id="scheduleTypeGoodSelectJs" class=""></div>
                <button>
                    <p>Discard</p><i class='bx bxs-trash-alt'></i>
                </button>
            </div>
        </div>
        <div class="scheduleBody">
            <!--
            <div class="ongoing">
                <p class="ongoingTitle">Meeting is currently ongoing</p>
                <button class="joinMeeting">Join Meeting</button>
            </div>
            -->

            <div class="detailSection remTop alignItems">
                <i class='bx bx-sync'></i>
                <div id="recurrenceGoodSelectJs"></div>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-map-pin'></i>
                <input type="text" name="location" id="eventLocation" placeholder="Location" class="textField">
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-tag-alt'></i>
                <input type="text" name="context" id="contextField" placeholder="Context" class="textField">
            </div>
            <div class="detailSection alignItems">
                <i class='bx bx-link'></i>
                <input type="text" name="Link" id="linkField" placeholder="Meeting Link" class="textField">
            </div>

            <div class="detailSection alignItems">
                <i class='bx bxs-user-circle'></i>
                <div class="selectedUsersDiv" id="selectedUsersDiv">
                    
                    {{!-- <div class="invitedMemberDiv" style="cursor: default;">
                        <div data-id="" class="resultItemBundle" href="" title="">
                            <div class="containerImage">
                                <img src="/images/profiles/user-128.png" alt="">
                            </div>
                            <div class="meeting-data">
                                <div class="nameScopeTime">
                                    <p class="meetingName">Alain Paulin Niyonkuru</p>
                                </div>
                                <button class="removePerson"><i class='bx bx-x-circle' ></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="invitedMemberDiv" style="cursor: default;">
                        <div data-id="" class="resultItemBundle" href="" title="">
                            <div class="containerImage">
                                <img src="/images/profiles/user-128.png" alt="">
                            </div>
                            <div class="meeting-data">
                                <div class="nameScopeTime">
                                    <p class="meetingName">Alain Paulin Niyonkuru</p>
                                </div>
                                <button class="removePerson"><i class='bx bx-x-circle' ></i></button>
                            </div>
                        </div>
                    </div> --}}

                </div>
            </div>

            <div class="detailSection alignItems">
                <i class='bx bx-user-plus'></i>
                <input type="text" name="Link" id="addMembersField" placeholder="Add Members" class="textField"
                    autocomplete="off">
                <div class="invitedMembersDiv iis-visible" id="invitedMembersDiv">
                    {{!-- <div class="invitedMemberDiv">
                        <div data-id="" class="resultItemBundle" href="" title="">
                            <div class="containerImage">
                                <img src="/images/profiles/user-128.png" alt="">
                            </div>
                            <div class="meeting-data">
                                <div class="nameScopeTime">
                                    <p class="meetingName">Team Meeting</p>
                                    <p class="scope">DESIGN</p>
                                    
                                </div>
                                <button class="addPerson"><i class='bx bx-plus-circle' ></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="invitedMemberDiv">
                        <div data-id="" class="resultItemBundle" href="" title="">
                            <div class="containerImage">
                                <img src="/images/profiles/user-128.png" alt="">
                            </div>
                            <div class="meeting-data">
                                <div class="nameScopeTime">
                                    <p class="meetingName">Team Meeting</p>
                                    <p class="scope">DESIGN</p>
                                    
                                </div>
                                <button class="addPerson"><i class='bx bx-plus-circle' ></i></button>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>

            <div class="detailSection">
                <i class='bx bx-detail'></i>
                <textarea id="detailsField" name="txtname" class="textField" rows="4" cols="50" maxlength="200"
                    placeholder="Description"></textarea>
            </div>


        </div>
        <div class="attending">
            <div class="attendingTitle"></div>
            <div class="attendingResponse">
                <button class="positive" id="submitEventButton">Create</button>

            </div>
        </div>
    </div>


</div>