<div class="schedule-container">
    <div class="selectionPanel">
        <div class="card">
            <div class="calendar-toolbar">
                <button class="headerButton" id="hideCalendar" title="Hide Calendar"><i
                        class='bx bxs-calendar'></i></button>
                <button class="prev month-btn" id="prevMonthBtn" title="Previous Month"><i
                        class='bx bx-chevron-left'></i></button>
                <div class="current-month" title="Selected Month"></div>
                <button class="next month-btn" id="nextMonthBtn" title="Next Month"><i
                        class='bx bx-chevron-right'></i></button>
                <button class="headerButton" id="CreateNewEvent" title="Create New Event"><i
                        class='bx bxs-plus-circle'></i></button>
            </div>
            <div class="calendar">
                <div class="weekdays">
                    <div class="weekday-name" title="Sunday">Su</div>
                    <div class="weekday-name" title="Monday">Mo</div>
                    <div class="weekday-name" title="Tuesday">Tu</div>
                    <div class="weekday-name" title="Wednesday">We</div>
                    <div class="weekday-name" title="Thursday">Th</div>
                    <div class="weekday-name" title="Friday">Fr</div>
                    <div class="weekday-name" title="Saturday">Sa</div>
                </div>
                <div class="calendar-days"></div>
            </div>
            <div class="goto-buttons">
                <button type="button" class="btn prev-year" title="Previous Year">Prev Year</button>
                <button type="button" class="btn today" title="Today">Today</button>
                <button type="button" class="btn next-year" title="Next Year">Next Year</button>
            </div>
        </div>
        <div class="pannedItems">
            <div class="pannedItems-Header" id="scheduleTitle">
                <div class="spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="planneditemsContent" id="selectedScheduledItemsDiv">

            </div>
        </div>
    </div>
    <div class="mainScheduleList">
        {{>mainScheduleList}}
    </div>
    <div class="scheduleDetailsSection" id="scheduleDetailsSectionDiv">
        <div class="header">
            <div class="rightPart">
                <div class="title"> <i class='bx bxs-calendar-event'></i>
                    <h1 id="eventTitle"></h1>
                </div>
                <div class="duration"><i class='bx bxs-time'></i>
                    <p id="eventOcurence"></p>
                </div>
            </div>
            <div class="leftPart">
                <div class="meetingType" id="eventTypediv"></div>
            </div>
        </div>
        <div class="scheduleBody">
            <div class="detailSection alignItems remTop">
                <i class='bx bx-user-circle'></i>
                <p><strong>Created by:&nbsp;</strong>
                <p id="eventOwner"></p>
                </p>
            </div>
            <div class="detailSection alignItems remTop">
                <i class='bx bxs-user-account'></i>
                <p id="eventParticipantsDivResult"></p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-map-pin'></i>
                <p> <strong>Location:&nbsp;</strong>
                <p id="eventlocationDiv"></p>
                </p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-tag-alt'></i>
                <p> <strong>Context:&nbsp;</strong>
                <p id="eventContextDiv"></p>
                </p>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bx-link'></i>
                <p><a class='link' id="eventLinkLink" href="#">
                        <i class='bx bx-link-external'></i>
                    </a>
                </p>
            </div>
            <div class="detailSection">
                <i class='bx bx-detail'></i>
                <p id="eventDetailsDiv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eius. Adipisci
                    maiores iste deserunt ex
                    libero doloribus accusamus quae commodi temporibus molestias, ipsam consequuntur quas tenetur ab
                    illo perspiciatis non saepe, doloremque quidem rem. Incidunt, expedita sint temporibus non natus cum
                    animi nisi aperiam voluptate assumenda voluptas laudantium ea, omnis cupiditate nulla fugit amet
                    exercitationem iure, veritatis neque autem tempore unde eligendi. Quidem laborum fuga dolore at
                    labore, reprehenderit sint nihil mollitia. Unde, debitis harum? Distinctio reprehenderit dolores,
                    vitae similique perferendis at molestias fugiat cupiditate maxime, quas quos. Placeat dolores eos,
                    totam hic alias expedita animi fugiat unde repellendus soluta!
                </p>
            </div>

            <div class="attending">
                <div class="attendingTitle">Are you attending? &nbsp;<p id="attendingAnswer"></p>
                </div>
                <div class="attendingResponse" id="attendingChoices">
                    <button class="positive">Yes</button>
                    <button class="certain">Not Sure</button>
                    <button class="negative">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="newScheduleDetailsSection hidden" id="newScheduleDetailsSection">
        <div class="header">
            <div class="rightPart">
                <div class="title"> <i class='bx bxs-calendar-event'></i> <input type="text" name="title"
                        id="createEventTitle" placeholder="Title" class="textField"></div>
                <div class="duration"><i class='bx bxs-time'></i> <input class="textField" id="planMeetingStart"
                        placeholder="Start"> - <input class="textField" id="planMeetingEnd" placeholder="End"></div>
            </div>
            <div class="leftPart">
                {{!-- <div class="meetingType">Meeting</div> --}}
                <div id="scheduleTypeGoodSelectJs" class=""></div>
                <button id="discardNewScheduleCreation">
                    <p>Discard</p><i class='bx bxs-trash-alt'></i>
                </button>
            </div>
        </div>
        <div class="scheduleBody">
            <div class="detailSection remTop alignItems">
                <i class='bx bx-sync'></i>
                <div id="recurrenceGoodSelectJs"></div>
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-map-pin'></i>
                <input type="text" name="location" id="eventLocation" placeholder="Location" class="textField">
            </div>
            <div class="detailSection alignItems">
                <i class='bx bxs-tag-alt'></i>
                <input type="text" name="context" id="contextField" placeholder="Context" class="textField">
            </div>
            <div class="detailSection alignItems">
                <i class='bx bx-link'></i>
                <input type="text" name="Link" id="linkField" placeholder="Meeting Link" class="textField">
            </div>

            <div class="detailSection alignItems">
                <i class='bx bxs-user-circle'></i>
                <div class="selectedUsersDiv" id="selectedUsersDiv">
                </div>
            </div>

            <div class="detailSection alignItems">
                <i class='bx bx-user-plus'></i>
                <input type="text" name="Link" id="addMembersField" placeholder="Add Members" class="textField"
                    autocomplete="off">
                <div class="invitedMembersDiv iis-visible" id="invitedMembersDiv">

                </div>
            </div>

            <div class="detailSection">
                <i class='bx bx-detail'></i>
                <textarea id="detailsField" name="txtname" class="textField" rows="4" cols="50" maxlength="200"
                    placeholder="Description"></textarea>
            </div>
        </div>
        <div class="attending">
            <div class="attendingTitle"></div>
            <div class="attendingResponse">
                <button class="positive" id="submitEventButton">Create</button>
            </div>
        </div>
    </div>
</div>