<div id="workShiftTitleBar" class="workShiftTitleBar">
    <h1>Work Shifts</h1>
</div>
<div class="workshiftMatrix" id="workshiftmatrix">
    <p>Secondary matrix for test</p>
    <div class="workshiftMatrixCanvas" id="workshiftMatrixCanvas">

    </div>
</div>

<style>
    
</style>