<div id="workShiftTitleBar" class="workShiftTitleBar">
    <h1>Work Shifts</h1>
</div>
<div class="workshiftMatrix" id="workshiftmatrix">
    <div class="subTitleBar">
        <div id="workshiftCommandBar" class="workshiftCommandBar">
            <button class="commandButton halfRemMargin oneRemPadding">My Shifts</button>
            <button class="commandButton halfRemMargin oneRemPadding">My Team SHifts</button>
            <button class="commandButton halfRemMargin oneRemPadding">Preset</button>
            <button class="commandButton halfRemMargin oneRemPadding">Preset</button>
            <div class="commandButton halfRemMargin" id="jumpToAnotherWeekShifts"></div>
        </div>
        <div class="navigateWeeks">
            <button class="commandButton halfRemMargin oneRemPadding" id="previousWeekShiftsbtn">Previous Week</button>
            <button class="commandButton halfRemMargin oneRemPadding">Current Week</button>
            <button class="commandButton halfRemMargin oneRemPadding" id="nextWeekShiftsbtn">Next Week</button>
        </div>
    </div>
    <div class="workshiftMatrixCanvas" id="workshiftMatrixCanvas">

    </div>
    <div class="moreOptionsOnShifts">
        <div class="workShiftsLegend">

        </div>


    </div>
</div>

<style>

</style>