<div id="workShiftTitleBar" class="workShiftTitleBar">
    <h1>Work Shifts</h1>
</div>
<div class="workshiftMatrix" id="workshiftmatrix">
    <div class="subTitleBar">
        <div id="workshiftCommandBar" class="workshiftCommandBar">
            <button class="commandButton halfRemMargin oneRemPadding active" id="presetsMyShiftsBtn">My Shifts</button>
            <button class="commandButton halfRemMargin oneRemPadding" id="presetsMyTeamShiftsBtn">My Team
                SHifts</button>
            <div class="commandButton halfRemMargin" id="jumpToAnotherWeekShifts"></div>
            <div class="commandButton halfRemMargin" id="jumpToAnotherTeamShifts"></div>
            <div class="commandButton halfRemMargin" id="jumpToAnotherUserShifts"></div>
        </div>
        <div class="navigateWeeks">
            <button class="commandButton halfRemMargin oneRemPadding" id="previousWeekShiftsbtn"><i
                    class='bx bx-chevrons-left'></i>
                <p>Previous Week</p>
            </button>
            <button class="commandButton halfRemMargin oneRemPadding">Current Week</button>
            <button class="commandButton halfRemMargin oneRemPadding" id="nextWeekShiftsbtn">
                <p>Next Week</p> <i class='bx bx-chevrons-right'></i>
            </button>
        </div>
    </div>
    <div class="workshiftMatrixCanvas halfRemMargin" id="workshiftMatrixCanvas">

    </div>
    <div class="moreOptionsOnShifts">
        <div class="workShiftsLegend">
            <div class='my-legend'>
                <div class='legend-title'>Key</div>
                <div class='legend-scale'>
                    <ul class='legend-labels'>
                        <li><span class="normalWorkingDay" style='background:#8DD3C7;'></span>Normal Working Day</li>
                        <li><span class="normalWorkingDay" style='background:#FFFFB3;'></span>Two</li>
                        <li><span class="normalWorkingDay" style='background:#BEBADA;'></span>Three</li>
                        <li><span class="normalWorkingDay" style='background:#FB8072;'></span>Four</li>
                        <li><span class="normalWorkingDay" style='background:#80B1D3;'></span>etc</li>
                    </ul>
                </div>
            </div>

            <style type='text/css'>
                
            </style>
        </div>
        <div>
            hello
        </div>


    </div>
</div>

<style>

</style>