<div class="shiftsContainer">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi minus animi nulla, voluptatem culpa quo inventore
    eos, ad adipisci veritatis laborum cupiditate magnam aspernatur nostrum corrupti assumenda maxime illum blanditiis
    officiis numquam quidem sit! Nam quasi nemo similique, vel nobis dolorum. Optio, provident libero eaque voluptas
    eveniet, velit illo qui quas voluptates hic commodi, maiores aliquam dolores nostrum ducimus quaerat sint. Officiis
    tenetur repudiandae debitis itaque veritatis maxime ipsam quidem obcaecati facere vero dolores hic iure corporis,
    expedita deserunt eius modi asperiores sapiente. Ipsum error accusamus quisquam! Minima odio illo rerum a alias
    repellat officiis et inventore. Ad, incidunt numquam eum in porro, aut aspernatur libero quae fuga minus, repellat
    maxime nam quaerat corrupti reprehenderit delectus sunt magnam. Rem voluptate quae natus cumque placeat quod? Animi
    ipsum, quidem vitae sunt nisi a id autem magnam impedit! Ea nemo ex perferendis vero repellat repudiandae quas et
    in, officiis eveniet velit voluptatum nesciunt tenetur iste cumque! Aspernatur accusamus consequatur, cumque culpa,
    iste inventore rerum corporis aliquid repudiandae expedita laborum ea ad. Enim expedita voluptatem harum eveniet
    nihil blanditiis ab explicabo similique fugit quis, necessitatibus magnam eos qui? Illum eos, voluptatum quae
    similique quas nostrum saepe, perferendis culpa ipsam placeat dolore. Aperiam dolor ipsum iste architecto nostrum
    quae laudantium qui alias sapiente? Libero vero voluptate fuga, hic, pariatur illo earum beatae quam quidem voluptas
    temporibus omnis cum corporis, praesentium perspiciatis unde id. Saepe minus ipsam voluptate corrupti
    exercitationem! Architecto saepe repellendus laborum. Dolor, assumenda esse asperiores quae dicta rem possimus
    reiciendis dolorem ullam sit maiores est commodi soluta obcaecati cumque voluptates consequuntur neque eum
    laudantium adipisci nulla! Corrupti iste impedit quam nesciunt adipisci voluptates eveniet ipsum, aliquid deserunt
    officia numquam. Fuga sed, assumenda repellendus ratione qui voluptas! Tenetur non, voluptatem natus veniam debitis
    eveniet temporibus, veritatis aliquid quas possimus quaerat, reiciendis illum! Accusamus alias quia fugit quis
    commodi distinctio quaerat necessitatibus quos, quae omnis, eos quidem maiores adipisci? Corrupti incidunt magnam
    iusto, molestias assumenda laboriosam temporibus saepe sunt pariatur reprehenderit culpa natus a quas maiores
    ratione labore atque quod vitae aspernatur nostrum. Impedit mollitia iure unde quod quia cupiditate laboriosam,
    accusantium minus rerum, ipsum blanditiis ducimus exercitationem alias nam veritatis optio error dicta, assumenda
    eius itaque vel sapiente nesciunt minima! Beatae, repellat error quas culpa quaerat debitis suscipit, nisi adipisci
    itaque sed aut fugiat consequuntur, consectetur temporibus praesentium ad sapiente necessitatibus. Eius deserunt
    aperiam optio, a cupiditate itaque perferendis, expedita explicabo placeat molestias sit tempore harum facilis
    tempora sed! Quo quam excepturi dolorum aut ipsum. Facilis fugit distinctio neque consectetur aperiam perspiciatis
    minus eum, deserunt harum fugiat. Eaque ea repudiandae esse tenetur, autem quibusdam excepturi, unde deleniti
    repellat quo repellendus consectetur ullam asperiores impedit! Repellat tempore ratione sapiente tempora. Corporis,
    accusantium laudantium! Fuga, rem quisquam porro ipsa nostrum dolor neque veritatis soluta accusantium nemo ipsum
    earum corrupti in ea aut doloremque quaerat esse iusto dolores deleniti iure. Pariatur veritatis sed officiis
    repudiandae, beatae magnam, provident est asperiores animi eum non modi! Dolorum repellat voluptatibus expedita illo
    ducimus quis neque aliquid, esse tempora numquam.
</div>

<style>
    .work_shifts_Panel {
        display: none;
    }

    .shiftsContainer {
        background-color: red;
    }
</style>