<div class="shiftsContainer">
    <div>
        <div id="vueApp">
            <table class="dayparts table">
                <thead>
                    <tr>
                        <td class="cell-label presets-label"></td>
                        <td colspan="24"><span class="cell-label presetsSubtitle-label"></span>
                            <select v-model="selected" @change='clearAll();selectedFunc()'>
                                <option value="">Select a Preset</option>
                                <option value="0">None</option>
                                <option value="1">Afternoons</option>
                                <option value="2">Evenings</option>
                                <option value="3">Mornings</option>
                                <option value="4">Weekdays</option>
                                <option value="5">Weekends</option>
                                <option value="6">Weekends including Friday</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2"></td>
                        <td class="cell-label am-label" colspan="12">AM</td>
                        <td class="cell-label pm-label" colspan="12">PM</td>
                    </tr>
                    <tr class="hour-row">
                        <td class="hour" v-for="hour in times" v-bind:value="hour.hour" v-on:click='setTime'>
                            {{hour.hour}}</td>
                    </tr>
                </thead>
                <tbody @mousedown='mouseDown' @mouseup='mouseUp' @mousemove='mouseMove'>
                    <tr class="day" v-for="day in days">
                        <td class="cell-label day-label" v-bind:value="day.dayNumber" v-bind:day-value="day.dayNumber"
                            v-on:click='activateDay'>{{day.dayName}}</td>
                        <td class='dayparts-cell' v-bind:value="hour.hour" data='day'
                            v-bind:class="{active: hour.isActive, preactive: hour.isPreActive}"
                            v-for='hour in day.times'></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="workshiftMatrix" id="workshiftmatrix">
    <p>Secondary matrix for test</p>
    <div class="workshiftMatrixCanvas" id="workshiftMatrixCanvas">

    </div>
</div>

<style>
    .dayparts-cell-test{
        transition: .3s;
        background-color: #EBF0F6;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        border: 1px solid #ededed;
        cursor: pointer;
        
    }
    .day-test{
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
    .dayparts-cell-test:hover{
        background-color: #b1d1f8;
    }

    .workshiftMatrixCanvas{
        display: flex;
        flex-direction: column;
        gap: 2px;
        user-select: none;
    }
    .dayName-test{
        width: 6rem;
    }
    /* --------------------------------------------------- */ 
    .work_shifts_Panel {
        display: none;
        display flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .shiftsContainer {
        display: none;
        {{!-- background-color: red; --}}
    }

    .dayparts-cell {
        transition: .3s;
        background-color: #EBF0F6;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        border: 1px solid #ededed;
        cursor: pointer;
    }

    .active {
        transition: .3s;
        background-color: #003061 !important;
    }

    .day-label,
    .hour {
        cursor: pointer;
    }

    option {
        font-family: 'Open Sans'
    }

    .day-label {
        text-align: right;
        padding: 5px;
        transition: .3s;
    }

    .hour {
        transition: .3s;
    }

    .day-label:hover,
    .hour:hover {
        color: #BDE130;
    }

    .dayparts-cell:hover {
        background: ORANGE;
    }

    .active:hover {
        background: #617c84 !important;
    }

    .preactive {
        color: #85b1be;
    }
</style>