<div id="workShiftTitleBar" class="workShiftTitleBar">
    <h1>Work Shifts</h1>
</div>
<div class="workshiftMatrix" id="workshiftmatrix">
    <div class="subTitleBar">
        <div id="workshiftCommandBar" class="workshiftCommandBar">
            <button class="commandButton">My Shifts</button>
            <button class="commandButton">My Team SHifts</button>
            <button class="commandButton">Preset</button>
        </div>
        <div class="navigateWeeks">
            <button class="commandButton">Previous Week</button>
            <button class="commandButton">Current Week</button>
            <button class="commandButton">Next Week</button>
        </div>
    </div>
    <div class="workshiftMatrixCanvas" id="workshiftMatrixCanvas">

    </div>
    <div class="moreOptionsOnShifts">
        <div class="workShiftsLegend">

        </div>
        

    </div>
</div>

<style>

</style>