<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="theme-color" content="#0C121A">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="origin" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Imperium Line offers a seamless video, audio, and text chat experience, perfect for virtual communication. Join the revolution of online communication with Imperium Line.">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/flatpicker.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="/js/handlebars.js"></script>
  <title>Imperium Line</title>
</head>

<body>
  {{{body}}}
</body>

</html>