<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/goodselect.css">
  <link rel="stylesheet" href="/css/flatpicker.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <title>Imperium Line</title>
</head>

<body>

  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="/js/flatpicker.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/goodselect.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/2.0.0-beta.3/peerjs.min.js" integrity="sha512-/b9G70XUEYGTOv2bh4ZKwvysh6pIwvrfXOkuVIvmg5nwfuJZoSH0a4MD1rF92SmQtDz4W+e3MiX9niGw15kaPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{!-- <script src="/js/peer.js"></script> --}}
  <script src="/js/index.js"></script>
  <script src="/js/calendarEvents.js"></script>
  <script src="/js/workshifts.js"></script>

</body>

</html>