<!doctype html>
<html lang="en-US">

<head>
    <title>Video Conferencing, Web Conferencing, Online Meetings, Screen Sharing - Zoom</title>
    <!--customize landing page title-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
        content="zoom, zoom.us, video conferencing, video conference, online meetings, web meeting, video meeting, cloud meeting, cloud video, group video call, group video chat, screen share, application share, mobility, mobile collaboration, desktop share, video collaboration, group messaging" />
    <meta name="description"
        content="Zoom unifies cloud video conferencing, simple online meetings, and cross platform group chat into one easy-to-use platform. Our solution offers the best video, audio, and screen-sharing experience across Zoom Rooms, Windows, Mac, iOS, Android, and H.323/SIP room systems." />
    <link rel="shortcut icon" href="https://d24cgw3uvb9a9h.cloudfront.net/zoom.ico" />
    <style>
        html,
        body {
            margin: 0px;
            font-family: sans-serif;
            height: 100%
        }

        .container {
            display: table;
            height: 100%;
            width: 100%;
            background-image: url("https://d24cgw3uvb9a9h.cloudfront.net/static/93386/image/new/home/DefaultLandingBgImg.jpg");
            /*customize background image*/
            background-size: cover;
        }

        .content-body {
            display: table-cell;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: #2470cc;
        }

        a:hover {
            text-decoration: none;
        }

        .content {
            /*customize position*/
            padding: 40px;
            max-width: 450px;
            margin-left: 45%;
        }

        h1 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: normal;
        }

        p {
            font-size: 17px;
        }

        .button {
            width: 80px;
            background-color: #2D8CFF;
            /*customize button color */
            border-color: #2D8CFF;
            padding: 12px 20px;
            display: inline-block;
            text-align: center;
            margin: 10px 0;
            transition: .3s ease;
        }

        .button:hover {
            background-color: rgb(45, 165, 255);
            /*customize button color */
        }

        .btn-text {
            color: white;
            /*customize button font color */
            font-size: 17px;
        }

        .made-with {
            padding-top: 15px;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .row>div {
            display: inline-block;
            vertical-align: middle;
        }

        .right {
            margin-left: 15px;
        }

        .right>span {
            display: block;
        }

        .zoom-logo {
            width: 140px;
            height: 31.5px;
        }

        .footer {
            display: table-row;
            height: 60px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            vertical-align: middle;
        }

        .footer a {
            padding-right: 40px;
            width: 99px;
            height: 19px;
            opacity: 0.6;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #2d292a !important;
            line-height: 60px;
        }

        @media screen and (max-width: 768px) {
            h1 {
                font-size: 27px;
            }

            .row {
                margin-bottom: 15px;
            }

            .row>div {
                display: block;
            }

            .footer {
                padding-bottom: 15px;
                height: 40px;
            }

            .footer a {
                display: block;
                width: 100%;
                height: inherit;
                padding-left: 0;
                padding-right: 0;
            }

            .content {
                margin: auto;
            }

            .content>div,
            .made-with {
                text-align: center;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content-body" role="main" aria-label="main content">
            <div class="HiddenText"><a id="the-main-content" tabindex="-1"></a></div>
            <div class="content">
                <!--customize position-->
                <div class="row">
                    <img src="https://d24cgw3uvb9a9h.cloudfront.net/static/93386/image/new/ZoomLogo.png"
                        class="zoom-logo" alt="Zoom Logo">
                    <!--customize company logo-->
                </div>
                <div class="row">
                    <h1> Video Conferencing </h1>
                </div>
                <div class="row">
                    <div class="left">
                        <a href="/join" class="button"><span class="btn-text">Join</span></a>
                    </div>
                    <div class="right">
                        <span>Connect to a meeting in progress</span>
                        <span style="font-size: 14px;color: #636376;margin-top: 4px;">or join from the <a
                                href="/calendar/list" style="font-size: 14px;">Public Event
                                List </a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                        <a href="/start/videomeeting" class="button">
                            <span class="btn-text">Host</span>
                        </a>
                    </div>
                    <div class="right">
                        <span>Start a meeting</span>
                    </div>
                </div>
                <div class="row">
                    <div class="left">
                    </div>
                </div>
                <p class="made-with">Made by Alain Paulin Niyonkuru <a href="https://imperiumline.com/">Imperium
                        Line</a></p>
            </div>
        </div>
        <div class="footer">
            <a href="https://support.zoom.us/hc/en-us/sections/201728913-Joining-Starting">Getting Started</a>
            <a href="/download">Download Client</a>
            <a href="https://support.zoom.us/hc/en-us" target="_blank">Zoom Support</a>
        </div>
    </div>
</body>

</html>