<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connect.css">
    <link rel="stylesheet" href="/css/connectBackground.css">
    <script src="/js/handlebars.js"></script>
    <title>Imperium Line</title>
</head>

<body class="dark">
    <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="wrapper">
        <div class="login-register">
            <div class="content-container">
                <section class="appIntro">
                    <H1>Welcome to Imperium&nbsp;Line</H1>
                    <p>
                        Modern, online, free chat, audio and video calls app,
                        with advantages of organizing your work on a calendar.
                        Join Imperium Line today.
                    </p>
                </section>
                <section class="wrapper">
                    <div class="formTopSection">
                        <div class="heading">
                            <h1 class="text text-large">Sign In</h1>
                            <p class="text text-normal">New user? <span><a href="/signUp" class="text text-links">Create
                                        an
                                        account</a></span>
                            </p>
                        </div>
                        <div class="switch"><input id="themeToggler" type="checkbox"><label for="themeToggler"></label>
                        </div>
                    </div>

                    <form name="login" class="form" action="/auth/login" method="POST">
                        <div class="error-control">
                            {{>login_messages}}
                        </div>
                        <div class="input-control">
                            <label for="email" class="input-label" hidden>Email Address</label>
                            <input type="email" name="email" required class="input-field" placeholder="Email Address"
                                autocomplete="email">
                        </div>
                        <div class="input-control">
                            <label for="password" class="input-label" hidden>Password</label>
                            <input id="password_login" type="password" name="password" required class="input-field passswordField"
                                placeholder="Password" autocomplete="password">
                        </div>
                        <div class="input-control">
                            <div class="input-control-item">
                                <input type="checkbox" name="visible" class="passwordCheckbox" id="passwordVisible" hidden />
                                <label for="passwordVisible" class="input-label visibleLabel" id="visibleLabel"><i
                                        class='bx bxs-show'></i>
                                    <p>Show Password</p>
                                </label>
                            </div>
                            {{!-- <div class="input-control-item">
                                <input type="checkbox" name="remember" id="remember" />
                                <label for="remember" class="input-label" id="rememberLabel">Remember Me</label>
                            </div> --}}
                        </div>
                        <div class="input-control">
                            <a href="#" class="text text-links">Forgot Password <i class='bx bx-shield-quarter'></i></a>
                            <input type="submit" name="submit" class="input-submit" value="Login">
                        </div>
                    </form>
                </section>
            </div>


        </div>
        <section class="feature-section">
            <h2>Features</h2>
            <div class="features">
                <div class="feature-item">
                    <i class='bx bxs-comment-dots'></i>
                    <h3>Instant Messaging</h3>
                    <p>Imperium Line allows you to communicate with colleagues by messages instantly and conveniently.
                    </p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-phone-call'></i>
                    <h3>Audio Calls</h3>
                    <p>Imperium Line offers the ability to contact and converse with people in real-time with a voice calls.</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-video'></i>
                    <h3>Video Calls</h3>
                    <p>In addition to voice calls, Imperium Line also offers video calls, including a group function, which allows more than eight participants on one call.</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-calendar'></i>
                    <h3>Calendar</h3>
                    <p>While working and dealing with many events with colleagues and clients, the schedule can be easily messy. Imperium offers a solution to schedule and visualize the events on a calendar for better organization</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bx-devices' ></i>
                    <h3>Cross Platform</h3>
                    <p>Imperium line offers a desktop version for Mac and for PC and Linux. Check the bottom ribbon for the platform you use. In addition the application os ffully mobile responsive, so it can be used on small and large devices</p>
                </div>
                <div class="feature feature-item">
                    <i class='bx bxs-moon' ></i>
                    <h3>Dark and Light modes</h3>
                    <p>Working in the evening or in darker environments with too bright visuals can be eye dammaging. That is the reason why Imperium Line offers a beautiful complete dark mode.</p>
                </div>

            </div>

            <div class="get-involved">
                <div class="get-involved-content">
                    <p>Find Imperium Line on gitHub!</p>
                    <a target="_blank" href="https://github.com/alainpaulinn/imperiumline">
                        <p>GitHub</p> <i class='bx bxl-github'></i>
                    </a>
                </div>

            </div>
        </section>
    </div>
    <div class="footer">
        <a href="mailto:alainpaulinn@gmail.com">Contact Us</a>
        <a href="/download/windows">
            <p>Windows</p><i class='bx bxl-windows'></i>
        </a>
        <a href="/download/mac">
            <p>Mac</p><i class='bx bxl-apple'></i>
        </a>
        <a href="/download/linux">
            <p>Linux</p><i class='bx bxl-tux'></i>
        </a>
    </div>
    <div class="notifications" id="notificationsDiv">
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/connect.js"></script>
</body>

</html>