<main class='c-app'>

  <div class='c-application'>
    <aside class='c-sidepanel expanded'>
      {{> sidePanel}}
    </aside>
    <section id="messages_panel" class="c-messages_panel">
      {{> messagesPanel}}
    </section>

    <section class="c-calls_panel" id="calls_panel">
      {{> callsPanel}}
    </section>
    <section class="c-time-scheduling_panel" id="time-scheduling_panel">
      {{> timeSchedulingPanel}}
    </section>
    <section class="work_shifts_Panel" id="work_shifts_Panel">
      {{> workshiftsPanel}}
    </section>
  </div>

</main>

<div class="incomingCallPopup" id="incomingCallPopup">
  {{> incomingCallPopup}}
</div>