<main class='c-app'>

  <div class='c-application'>
    <aside class='c-sidepanel expanded'>
      {{> sidePanel}}
    </aside>
    <section id="messages_panel" class="c-messages_panel">
      {{> messagesPanel}}
    </section>

    <section class="c-calls_panel" id="calls_panel">
      {{> callsPanel}}
    </section>
    <section class="c-time-scheduling_panel" id="time-scheduling_panel">
      {{> timeSchedulingPanel}}
    </section>
    <section class="work_shifts_Panel" id="work_shifts_Panel">
      {{> workshiftsPanel}}
    </section>
  </div>

</main>

<div class="incomingCallPopup" id="incomingCallPopup">
  {{> incomingCallPopup}}
</div>
<div class="notifications" id="notificationsDiv">
  {{!-- <div class="notification">
    <div class="notificationTitle">
      <i class='bx bxs-phone-call'></i>
      <div class="notificationTitleContent">Incoming call</div>
    </div>
    <div class="notificationBody">
      <div class="profilePicture">AN</div>
      <div class="notificationContent">
        Here wil be HTML of the Notification content
      </div>
    </div>
    <div class="notificationActions">
      <button class="normal">NO</button>
      <button class="confirm">Yes</button>
    </div>
    <div class="notificationProgressBar"></div>
  </div>
  <div class="notification">
    <div class="notificationTitle">
      <i class='bx bxs-phone-call'></i>
      <div class="notificationTitleContent">Incoming call</div>
    </div>
    <div class="notificationBody">
      <div class="profilePicture">AN</div>
      <div class="notificationContent">
        Here wil be HTML of the Notification content
      </div>
    </div>
    <div class="notificationActions">
      <button class="normal">NO</button>
      <button class="confirm">Yes</button>

    </div>
    <div class="notificationProgressBar"></div>
  </div> --}}
</div>