<main class='c-app'>
  <div class='c-application'>
    <aside class='c-sidepanel expanded' id='c-sidepanel'>
      {{> sidePanel}}
    </aside>
    <section id="messages_panel" class="c-messages_panel">
      {{> messagesPanel}}
    </section>
    <section class="c-call_log_panel" id="call_log_panel">
      {{> callsPanel}}
    </section>
    <section class="c-ongoing_call_panel" id="ongoing_call_panel">
      {{> ongoingCall}}
    </section>
    <section class="c-time-scheduling_panel" id="time-scheduling_panel">
      {{> timeSchedulingPanel}}
    </section>
  </div>
</main>
<div class="notifications" id="notificationsDiv">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/flatpicker.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/goodselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/2.0.0-beta.3/peerjs.min.js" integrity="sha512-/b9G70XUEYGTOv2bh4ZKwvysh6pIwvrfXOkuVIvmg5nwfuJZoSH0a4MD1rF92SmQtDz4W+e3MiX9niGw15kaPw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- <script src="/js/peer.js"></script> --}}
<script src="/js/soundmeter.js"></script>
<script src="/js/index.js"></script>
<script src="/js/calendarEvents.js"></script>
<script src="/js/workshifts.js"></script>