<main class='c-app'>
  <div class='c-application'>
    <aside class='c-sidepanel expanded' id='c-sidepanel'>
      {{> sidePanel}}
    </aside>
    <section id="messages_panel" class="c-messages_panel">
      {{> messagesPanel}}
    </section>
    <section class="c-call_log_panel" id="call_log_panel">
      {{> callsPanel}}
    </section>
    <section class="c-ongoing_call_panel" id="ongoing_call_panel">
      {{> ongoingCall}}
    </section>
    <section class="c-time-scheduling_panel" id="time-scheduling_panel">
      {{> timeSchedulingPanel}}
    </section>
  </div>
</main>
<div class="notifications" id="notificationsDiv">
</div>

{{!-- <div class="mainCentralProfileDiv vaisible" id="mainCentralProfileDiv">
  <div class="coverPhotoDiv">
    <img src="private/cover/my-cover-photo.jpg" class="coverPhoto" alt="">
    <div class="photoActions">
      <div class="photoAction">
        <button><i class='bx bxs-edit-alt'></i></button>
        <div class="editControls">
          <button><i class='bx bxs-trash-alt'></i></button>
          <button><i class='bx bxs-camera'></i></button>
        </div>
      </div>
      <div class="photoAction">
        <button><i class='bx bx-x'></i></button>
      </div>
    </div>
    <button class="uploadIcon">
      <i class='bx bx-upload'></i>
    </button>
  </div>
  <div class="userDataDiv">
    <div class="userProfileDiv">
      <img class="profilePicture" src="https://randomuser.me/api/portraits/men/39.jpg" alt="" srcset="">
      <div class="onlineIndicator"></div>
      <button class="uploadIcon"> <i class='bx bx-upload'></i> </button>
      <div class="photoActions">
        <div class="photoAction">
          <button><i class='bx bxs-edit-alt'></i></button>
          <div class="editControls">
            <button><i class='bx bxs-trash-alt'></i></button>
            <button><i class='bx bxs-camera'></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="userPrimaryInfo">
      <div class="name">Alain Paulin Niyonkuru</div>
      <a href="mailto:alainpaulinn@gmail.com" class="email">alainpaulinn@gmail.com</a>
      <div class="position">Normal test User</div>
    </div>
    <div class="userSecondaryInfo">
      <div class="presentMembersDiv">
        <div class="listMember"><img class="memberProfilePicture" src="/private/profiles/user-129.png">
          <div class="memberNameRole">
            <div class="memberName">Test2Name Test2Surname</div>
            <div class="memberRole">Central Branding Director</div>
          </div>
        </div>
      </div>
      <div class="presentMembersDiv">
        <div class="listMember"><img class="memberProfilePicture" src="/private/profiles/user-129.png">
          <div class="memberNameRole">
            <div class="memberName">Test2Name Test2Surname</div>
            <div class="memberRole">Central Branding Director</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> --}}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/flatpicker.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/goodselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/2.0.0-beta.3/peerjs.min.js"
  integrity="sha512-/b9G70XUEYGTOv2bh4ZKwvysh6pIwvrfXOkuVIvmg5nwfuJZoSH0a4MD1rF92SmQtDz4W+e3MiX9niGw15kaPw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!--
<script src="/js/peer.js"></script> --}}
<script src="/js/soundmeter.js"></script>
<script src="/js/index.js"></script>
<script src="/js/calendarEvents.js"></script>
{{!--
<script src="/js/workshifts.js"></script> --}}