@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

$sidepanel-bg: rgb(245, 249, 253);
$sidepanel: rgb(235, 240, 246); //OG
$sidepanel: rgb(235, 240, 246);
$body: rgb(91, 94, 97);
//$body: rgb(91, 94, 97);
$notification: rgb(0, 48, 97);
//$notification: rgb(31, 141, 251);
//$notification: rgba(0, 77, 4, 0.801);
$c-chats: rgb(255, 255, 255);
$warning-bg: rgb(255, 212, 212);
$borderRadius: 15px;

.dark {
  // text color:
  --lightText: rgb(205, 210, 214);
  // background-color:
  --focusAreaBackgroundColor: rgb(24, 27, 31);
  --primaryBackground: rgb(12, 18, 26);
  --secondaryBackground: rgb(6, 9, 14);
  --tertiaryBackground: rgb(0, 0, 0);

  --notification: rgb(0, 48, 97);
  --warning-bg: rgb(255, 212, 212);
  --borderRadius: 15px;

  // message background
  --receivedMessageBg: var(--primaryBackground);
  --sentMessageBg: var(--notification);

  // hover Color
  --hoverColor: var(--notification);

  --transparentBg: rgba(255, 255, 255, 0.13);
}

.light {
  // text color:
  --lightText: rgb(58, 60, 61);
  // background-color:
  --focusAreaBackgroundColor: rgb(245, 249, 253);
  --primaryBackground: rgb(235, 240, 246);
  --secondaryBackground: rgb(255, 255, 255);
  --tertiaryBackground: rgb(235, 235, 235);

  --notification: #ffffff;
  --warning-bg: rgb(255, 212, 212);
  --borderRadius: 15px;

  // message background
  --receivedMessageBg: rgb(211, 219, 230);
  --sentMessageBg: rgb(247, 247, 247);

  // hover Color
  --hoverColor: rgb(0, 48, 97);

  --transparentBg: rgba(255, 255, 255, 0.178);
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  display: none;
}

*::-webkit-scrollbar-track:hover {
  background: #bbb;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: $borderRadius;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.content-active {
  display: block !important;
  border-radius: $borderRadius;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.5s 0s ease;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);


  .login-register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--transparentBg);

    //box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    transition: all 0.5s ease-in-out;

    .form-tab {
      border-radius: $borderRadius;
      padding: 8px;
      cursor: pointer;
    }

    .form-tab:hover {
      border-radius: $borderRadius;
      cursor: pointer;
    }

    .content {
      color: var(--lightText);
      //width: 100%;
      background: var(--primaryBackground);
      display: none;

      .form-group {
        display: flex;
        align-items: center;

      }

      label,
      input {
        margin: .5rem;
        padding: 2px;

      }

      label:focus,
      input:focus {
        border-bottom: 2px solid #003366;
      }

      input {
        flex: 1;
        padding: 8px;
        outline: none;
        border: none;
        border-radius: $borderRadius;
        color: var(--secondaryBackground);
      }

      .submit-btn {
        color: var(--lightText);
        background-color: #004992;
        cursor: pointer;
        width: 150px;
        border-radius: $borderRadius;
      }

      .submit-btn:hover {
        background-color: #003366;
      }
    }

    transition: all 0.5s ease-in-out;

    ul {
      width: 100%;
      padding: 0rem 0;
      margin: 0;
      margin-bottom: 1rem;
      display: flex;
      background-color: #eee;
      border-radius: $borderRadius;
      border: 1px solid;

      li {
        list-style: none;
        flex: 1;
        padding: 10px;

        background-color: transparent;
        color: var(--lightText);
      }

      .active {
        color: var(--lightText);
        display: block;
        background-color: #003061;
        flex: 5;
        width: 100px;
        border-radius: $borderRadius;
      }

      .active:hover {
        background-color: #003366;
        border-radius: $borderRadius;
      }
    }
  }

  .feature-section {
    display: flex;
    flex-direction: column;
    //grid-template-columns: repeat(3, minmax(auto, 300px));
    justify-content: center;

    width: 100%;
    justify-self: stretch;
    padding: 80px 0;
    //background-color: #f0fbff;

    h2 {
      font-size: 2rem;
      margin: 0 0 40px;
      text-align: center;
      grid-column: 1 / -1;
      color: var(--lightText);
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      color: var(--lightText);

      .feature-item {
        width: 300px;
        background-color: var(--primaryBackground);
        // border: 1px solid #fff;
        text-align: center;
        border-radius: $borderRadius;
        padding: 1rem;
        margin-bottom: 50px;
        box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.493);
        transition: box-shadow 0.3s;
        position: relative;
        border-radius: $borderRadius;
        padding-top: 30px;

        i {
          position: absolute;
          width: 55px;
          height: 55px;
          top: -33px;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: $borderRadius;
          box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
          padding: 11px;
          color: var(--lightText);
          background-color: var(--secondaryBackground);;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 1.5rem;
          margin-bottom: 5px;
        }
      }
    }



    .get-involved {
      grid-column: 1 / -1;
      display: flex;
      width: 100%;
      justify-content: center;
      // align-items: center;
      // text-align: center;
      color: var(--lightText);
      .get-involved-content{
        display: flex;
        flex-direction: column;
        a {
          display: flex;
          flex-shrink: 0;
          text-decoration: none;
          color: var(--lightText);
          background-color: var(--tertiaryBackground);
          padding: 1rem;
          border-radius: $borderRadius;
          margin: 20px 0;
          box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.486);
          transition: all 0.3s;
          color: var(--lightText);
          justify-content: center;
  
          &:hover {
            color: var(--hoverColor);
          }
  
          i {
            vertical-align: middle;
            margin-left: 5px;
            font-size: 15px;
          }
        }
      }
      
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  // background-color: rgba(255, 255, 255, 0.4);
  background-color: var(--primaryBackground);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  z-index: 1;

  a {
    display: flex;
    align-items: center;
    // padding-right: 40px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--lightText) !important;
    text-decoration: none;
    text-align: center;
    gap: 0.25em;

    i {
      // margin-left: 5px;
    }
  }
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

  .appIntro {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    max-width: 40%;
    color: var(--lightText);

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      color: var(--lightText);
    }
  }

  .text-links {
    font-size: 1rem;
    font-weight: 400;
    color: var(--lightText);
    // text-decoration: none;
  }

  .wrapper {
    max-width: 30rem;
    padding: 2rem;
    border: none;
    outline: none;
    border-radius: $borderRadius;

    background: var(--primaryBackground);
    display: flex;
    flex-direction: column;

    .formTopSection{
      display: flex;
      gap: 0.5rem;
      width: 100%;
      .heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        color: var(--lightText);
        h1 {
          font-size: 2rem;
        }
      }
    }
    

    .form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1.5rem;

      .input-control {

        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--lightText);

        //margin-bottom: 1.25rem;
        .input-control-item {
          display: flex;
          align-items: center;
          cursor: pointer;

          input {
            margin-right: 5px;
            cursor: pointer;
            background-color: var(--tertiaryBackground);
            color: var(--lightText);
          }

          label {
            display: flex;
            align-items: center;
            cursor: pointer;

            p {
              cursor: pointer;
            }

            i {
              cursor: pointer;
              font-size: 1.5rem;
              margin-right: 5px;
            }
          }
        }
      }

      .visible-remember {
        display: flex;
        align-items: center;

        input {
          margin-right: 5px;
        }

        label {
          display: flex;
          align-items: center;

          p {}

          i {
            font-size: 1.5rem;
            margin-right: 5px;
          }
        }
      }

      .message-failure {
        border-radius: $borderRadius;
        color: rgb(255, 0, 0);
      }

      .message-success {
        padding: 1rem;
        border-radius: $borderRadius;
        background-color: rgb(0, 255, 64);
      }

      .input-field {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        width: 100%;
        height: auto;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        background: var(--secondaryBackground);
        text-transform: unset;
        text-rendering: optimizeLegibility;
        color: var(--lightText);
      }

      .input-submit {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        cursor: pointer;
        min-width: 40%;
        height: auto;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        color: var(--lightText);
        background: var(--notification);
        box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
      }
    }
  }
}


// Notifications css
.notifications {
  display: flex;
  width: 350px;
  position: fixed;
  right: 0rem;
  top: 0rem;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 1rem;
  margin: 1rem;
  z-index: 1;

  .notification {
    display: flex;
    flex-direction: column;
    background: $sidepanel-bg;
    border-radius: $borderRadius;
    box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;

    .notificationTitle {
      display: flex;
      padding: 1rem 1rem 0rem 1rem;
      gap: 1rem;
    }

    .notificationBody {
      display: flex;
      //margin: 1rem;
      gap: 1rem;
      padding: 1rem;

      .profilePicture {
        border: 1px solid $notification;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: $borderRadius;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--lightText);
        background-color: #003061;
        box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
        transition: all 0.4s;
      }

      .notificationContent {
        flex: 1;
      }
    }

    .notificationActions {
      display: flex;
      justify-content: flex-end;
      padding: 0rem 1rem 1rem 1rem;
      gap: 1rem;

      button {
        padding: .5rem 1rem;
        border-radius: $borderRadius;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .normal {
        background-color: $sidepanel;
        color: var(--lightText);
      }

      .confirm {
        background-color: $notification;
        color: var(--lightText);
      }


    }

    .notificationProgressBar {
      height: 3px;
      background-color: rgba(0, 0, 0, 0.76);
    }

  }
}

.switch {
  display: inline-flex;

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked+label {
      background: var(--notification);
      &::after {
        left: calc(100% - 4px);
        transform: translateX(-100%);
      }
    }
  }

  label {
    cursor: pointer;
    width: 48px;
    height: 24px;
    background: var(--notification);
    display: block;
    border-radius: $borderRadius;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 16px;
      height: 16px;
      background: var(--lightText);
      border-radius: $borderRadius;
      transition: 0.3s;
    }
  }
}

@media (max-width: 742px) {
  .content-container {
    flex-direction: column;
    align-items: center;

    .appIntro {
      max-width: 100%;
    }
  }

  .feature-section {
    grid-template-columns: repeat(2, 200px);
    .get-involved {
      grid-column: span 2;
    }
  }

  .cta {
    .cta-btn {
      padding: 80px 0;

      p {
        font-size: 2em;
      }

      a {
        padding: 15px 30px;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 488px) {
  .content-container {
    flex-direction: column;
    align-items: center;

    .appIntro {
      max-width: 100%;
    }
  }

  .feature-section {
    grid-template-columns: repeat(2, 140px);

    .get-involved {
      grid-column: span 2;
    }
  }
  .notifications{
    right: -50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    padding: 1rem;
    max-width: 100%;
  }
}

////////////////////////////////BACKGROUND/////////////////////////
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--primaryBackground);
  overflow: hidden;
  z-index: -999;

  span {
      width: 45vmin;
      height: 45vmin;
      border-radius: 45vmin;
      backface-visibility: hidden;
      position: absolute;
      animation: move;
      animation-duration: 12;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      &:nth-child(0) {
          color: #005aff;
          top: 43%;
          left: 88%;
          animation-duration: 97s;
          animation-delay: -132s;
          transform-origin: 4vw 21vh;
          box-shadow: 90vmin 0 11.901808246489937vmin currentColor;
      }

      &:nth-child(1) {
          color: var(--notification);
          top: 43%;
          left: 93%;
          animation-duration: 224s;
          animation-delay: -304s;
          transform-origin: 14vw 1vh;
          box-shadow: 90vmin 0 11.262822183770906vmin currentColor;
      }

      &:nth-child(2) {
          color: var(--primaryBackground);
          top: 77%;
          left: 65%;
          animation-duration: 381s;
          animation-delay: -260s;
          transform-origin: 6vw 9vh;
          box-shadow: -90vmin 0 12.200983853557796vmin currentColor;
      }

      &:nth-child(3) {
          color: var(--tertiaryBackground);
          top: 53%;
          left: 83%;
          animation-duration: 320s;
          animation-delay: -270s;
          transform-origin: 7vw -9vh;
          box-shadow: -90vmin 0 11.935107618936929vmin currentColor;
      }

      &:nth-child(4) {
          color: #005aff;
          top: 50%;
          left: 46%;
          animation-duration: 298s;
          animation-delay: -72s;
          transform-origin: -15vw -1vh;
          box-shadow: -90vmin 0 11.750846479178882vmin currentColor;
      }

      &:nth-child(5) {
          color: var(--secondaryBackground);
          top: 42%;
          left: 26%;
          animation-duration: 20s;
          animation-delay: -136s;
          transform-origin: -12vw -1vh;
          box-shadow: 90vmin 0 11.255576755830687vmin currentColor;
      }

      &:nth-child(6) {
          color: #005aff;
          top: 23%;
          left: 16%;
          animation-duration: 266s;
          animation-delay: -333s;
          transform-origin: -15vw 7vh;
          box-shadow: -90vmin 0 11.824600487760055vmin currentColor;
      }

      &:nth-child(7) {
          color: #005aff;
          top: 80%;
          left: 6%;
          animation-duration: 26s;
          animation-delay: -264s;
          transform-origin: -19vw -21vh;
          box-shadow: 90vmin 0 11.46704592995466vmin currentColor;
      }

      &:nth-child(8) {
          color: #FFACAC;
          top: 7%;
          left: 24%;
          animation-duration: 266s;
          animation-delay: -164s;
          transform-origin: 19vw 23vh;
          box-shadow: -90vmin 0 12.218125449306182vmin currentColor;
      }

      &:nth-child(9) {
          color: #005aff;
          top: 9%;
          left: 80%;
          animation-duration: 136s;
          animation-delay: -50s;
          transform-origin: 12vw 18vh;
          box-shadow: 90vmin 0 12.232572510313979vmin currentColor;
      }
  }
}