@-webkit-keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -999;
}

.background span {
  width: 45vmin;
  height: 45vmin;
  border-radius: 45vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation: move;
          animation: move;
  -webkit-animation-duration: 12;
          animation-duration: 12;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #005aff;
  top: 43%;
  left: 88%;
  -webkit-animation-duration: 97s;
          animation-duration: 97s;
  -webkit-animation-delay: -132s;
          animation-delay: -132s;
  transform-origin: 4vw 21vh;
  box-shadow: 90vmin 0 11.9018082465vmin currentColor;
}

.background span:nth-child(1) {
  color: #ffffff;
  top: 43%;
  left: 93%;
  -webkit-animation-duration: 224s;
          animation-duration: 224s;
  -webkit-animation-delay: -304s;
          animation-delay: -304s;
  transform-origin: 14vw 1vh;
  box-shadow: 90vmin 0 11.2628221838vmin currentColor;
}

.background span:nth-child(2) {
  color: #ffffff;
  top: 77%;
  left: 65%;
  -webkit-animation-duration: 381s;
          animation-duration: 381s;
  -webkit-animation-delay: -260s;
          animation-delay: -260s;
  transform-origin: 6vw 9vh;
  box-shadow: -90vmin 0 12.2009838536vmin currentColor;
}

.background span:nth-child(3) {
  color: #00ffff;
  top: 53%;
  left: 83%;
  -webkit-animation-duration: 320s;
          animation-duration: 320s;
  -webkit-animation-delay: -270s;
          animation-delay: -270s;
  transform-origin: 7vw -9vh;
  box-shadow: -90vmin 0 11.9351076189vmin currentColor;
}

.background span:nth-child(4) {
  color: #005aff;
  top: 50%;
  left: 46%;
  -webkit-animation-duration: 298s;
          animation-duration: 298s;
  -webkit-animation-delay: -72s;
          animation-delay: -72s;
  transform-origin: -15vw -1vh;
  box-shadow: -90vmin 0 11.7508464792vmin currentColor;
}

.background span:nth-child(5) {
  color: #ffffff;
  top: 42%;
  left: 26%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -136s;
          animation-delay: -136s;
  transform-origin: -12vw -1vh;
  box-shadow: 90vmin 0 11.2555767558vmin currentColor;
}

.background span:nth-child(6) {
  color: #005aff;
  top: 23%;
  left: 16%;
  -webkit-animation-duration: 266s;
          animation-duration: 266s;
  -webkit-animation-delay: -333s;
          animation-delay: -333s;
  transform-origin: -15vw 7vh;
  box-shadow: -90vmin 0 11.8246004878vmin currentColor;
}

.background span:nth-child(7) {
  color: #005aff;
  top: 80%;
  left: 6%;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -264s;
          animation-delay: -264s;
  transform-origin: -19vw -21vh;
  box-shadow: 90vmin 0 11.46704593vmin currentColor;
}

.background span:nth-child(8) {
  color: #FFACAC;
  top: 7%;
  left: 24%;
  -webkit-animation-duration: 266s;
          animation-duration: 266s;
  -webkit-animation-delay: -164s;
          animation-delay: -164s;
  transform-origin: 19vw 23vh;
  box-shadow: -90vmin 0 12.2181254493vmin currentColor;
}

.background span:nth-child(9) {
  color: #005aff;
  top: 9%;
  left: 80%;
  -webkit-animation-duration: 136s;
          animation-duration: 136s;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
  transform-origin: 12vw 18vh;
  box-shadow: 90vmin 0 12.2325725103vmin currentColor;
}/*# sourceMappingURL=connectBackground.css.map */