@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.dark {
  --lightText: rgb(205, 210, 214);
  --focusAreaBackgroundColor: rgb(24, 27, 31);
  --primaryBackground: rgb(12, 18, 26);
  --secondaryBackground: rgb(6, 9, 14);
  --tertiaryBackground: rgb(0, 0, 0);
  --notification: rgb(0, 48, 97);
  --warning-bg: rgb(255, 212, 212);
  --borderRadius: 15px;
  --receivedMessageBg: var(--primaryBackground);
  --sentMessageBg: var(--notification);
  --hoverColor: var(--notification);
  --transparentBg: rgba(255, 255, 255, 0.13);
}

.light {
  --lightText: rgb(58, 60, 61);
  --focusAreaBackgroundColor: rgb(245, 249, 253);
  --primaryBackground: rgb(235, 240, 246);
  --secondaryBackground: rgb(255, 255, 255);
  --tertiaryBackground: rgb(235, 235, 235);
  --notification: #ffffff;
  --warning-bg: rgb(255, 212, 212);
  --borderRadius: 15px;
  --receivedMessageBg: rgb(211, 219, 230);
  --sentMessageBg: rgb(247, 247, 247);
  --hoverColor: rgb(0, 48, 97);
  --transparentBg: rgba(255, 255, 255, 0.178);
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  display: none;
}

*::-webkit-scrollbar-track:hover {
  background: #bbb;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 15px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.content-active {
  display: block !important;
  border-radius: 15px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.5s 0s ease;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
}
.wrapper .login-register {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--transparentBg);
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.wrapper .login-register .form-tab {
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
}
.wrapper .login-register .form-tab:hover {
  border-radius: 15px;
  cursor: pointer;
}
.wrapper .login-register .content {
  color: var(--lightText);
  background: var(--primaryBackground);
  display: none;
}
.wrapper .login-register .content .form-group {
  display: flex;
  align-items: center;
}
.wrapper .login-register .content label,
.wrapper .login-register .content input {
  margin: 0.5rem;
  padding: 2px;
}
.wrapper .login-register .content label:focus,
.wrapper .login-register .content input:focus {
  border-bottom: 2px solid #003366;
}
.wrapper .login-register .content input {
  flex: 1;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: var(--secondaryBackground);
}
.wrapper .login-register .content .submit-btn {
  color: var(--lightText);
  background-color: #004992;
  cursor: pointer;
  width: 150px;
  border-radius: 15px;
}
.wrapper .login-register .content .submit-btn:hover {
  background-color: #003366;
}
.wrapper .login-register ul {
  width: 100%;
  padding: 0rem 0;
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  background-color: #eee;
  border-radius: 15px;
  border: 1px solid;
}
.wrapper .login-register ul li {
  list-style: none;
  flex: 1;
  padding: 10px;
  background-color: transparent;
  color: var(--lightText);
}
.wrapper .login-register ul .active {
  color: var(--lightText);
  display: block;
  background-color: #003061;
  flex: 5;
  width: 100px;
  border-radius: 15px;
}
.wrapper .login-register ul .active:hover {
  background-color: #003366;
  border-radius: 15px;
}
.wrapper .feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-self: stretch;
  padding: 80px 0;
}
.wrapper .feature-section h2 {
  font-size: 2rem;
  margin: 0 0 40px;
  text-align: center;
  grid-column: 1/-1;
  color: var(--lightText);
}
.wrapper .feature-section .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color: var(--lightText);
}
.wrapper .feature-section .features .feature-item {
  width: 300px;
  background-color: var(--primaryBackground);
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 50px;
  box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.493);
  transition: box-shadow 0.3s;
  position: relative;
  border-radius: 15px;
  padding-top: 30px;
}
.wrapper .feature-section .features .feature-item i {
  position: absolute;
  width: 55px;
  height: 55px;
  top: -33px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
  padding: 11px;
  color: var(--lightText);
  background-color: var(--secondaryBackground);
  font-size: 2.5rem;
}
.wrapper .feature-section .features .feature-item h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.wrapper .feature-section .get-involved {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--lightText);
}
.wrapper .feature-section .get-involved .get-involved-content {
  display: flex;
  flex-direction: column;
}
.wrapper .feature-section .get-involved .get-involved-content a {
  display: flex;
  flex-shrink: 0;
  text-decoration: none;
  color: var(--lightText);
  background-color: var(--tertiaryBackground);
  padding: 1rem;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.486);
  transition: all 0.3s;
  color: var(--lightText);
  justify-content: center;
}
.wrapper .feature-section .get-involved .get-involved-content a:hover {
  color: var(--hoverColor);
}
.wrapper .feature-section .get-involved .get-involved-content a i {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primaryBackground);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  z-index: 1;
}
.footer a {
  display: flex;
  align-items: center;
  opacity: 0.6;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--lightText) !important;
  text-decoration: none;
  text-align: center;
  gap: 0.25em;
}
.content-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.content-container .appIntro {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  color: var(--lightText);
}
.content-container .appIntro h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.content-container .appIntro p {
  font-size: 1.5rem;
  color: var(--lightText);
}
.content-container .text-links {
  font-size: 1rem;
  font-weight: 400;
  color: var(--lightText);
}
.content-container .wrapper {
  max-width: 30rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  background: var(--primaryBackground);
  display: flex;
  flex-direction: column;
}
.content-container .wrapper .formTopSection {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.content-container .wrapper .formTopSection .heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  color: var(--lightText);
}
.content-container .wrapper .formTopSection .heading h1 {
  font-size: 2rem;
}
.content-container .wrapper .form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
.content-container .wrapper .form .input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--lightText);
}
.content-container .wrapper .form .input-control .input-control-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content-container .wrapper .form .input-control .input-control-item input {
  margin-right: 5px;
  cursor: pointer;
  background-color: var(--tertiaryBackground);
  color: var(--lightText);
}
.content-container .wrapper .form .input-control .input-control-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content-container .wrapper .form .input-control .input-control-item label p {
  cursor: pointer;
}
.content-container .wrapper .form .input-control .input-control-item label i {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 5px;
}
.content-container .wrapper .form .visible-remember {
  display: flex;
  align-items: center;
}
.content-container .wrapper .form .visible-remember input {
  margin-right: 5px;
}
.content-container .wrapper .form .visible-remember label {
  display: flex;
  align-items: center;
}
.content-container .wrapper .form .visible-remember label i {
  font-size: 1.5rem;
  margin-right: 5px;
}
.content-container .wrapper .form .message-failure {
  border-radius: 15px;
  color: rgb(255, 0, 0);
}
.content-container .wrapper .form .message-success {
  padding: 1rem;
  border-radius: 15px;
  background-color: rgb(0, 255, 64);
}
.content-container .wrapper .form .input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: var(--secondaryBackground);
  text-transform: unset;
  text-rendering: optimizeLegibility;
  color: var(--lightText);
}
.content-container .wrapper .form .input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: var(--lightText);
  background: var(--notification);
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.notifications {
  display: flex;
  width: 350px;
  position: fixed;
  right: 0rem;
  top: 0rem;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  gap: 1rem;
  margin: 1rem;
  z-index: 1;
}
.notifications .notification {
  display: flex;
  flex-direction: column;
  background: rgb(245, 249, 253);
  border-radius: 15px;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.notifications .notification .notificationTitle {
  display: flex;
  padding: 1rem 1rem 0rem 1rem;
  gap: 1rem;
}
.notifications .notification .notificationBody {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.notifications .notification .notificationBody .profilePicture {
  border: 1px solid rgb(0, 48, 97);
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightText);
  background-color: #003061;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
  transition: all 0.4s;
}
.notifications .notification .notificationBody .notificationContent {
  flex: 1;
}
.notifications .notification .notificationActions {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 1rem 1rem 1rem;
  gap: 1rem;
}
.notifications .notification .notificationActions button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.notifications .notification .notificationActions .normal {
  background-color: rgb(235, 240, 246);
  color: var(--lightText);
}
.notifications .notification .notificationActions .confirm {
  background-color: rgb(0, 48, 97);
  color: var(--lightText);
}
.notifications .notification .notificationProgressBar {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}

.switch {
  display: inline-flex;
}
.switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch input[type=checkbox]:checked + label {
  background: var(--notification);
}
.switch input[type=checkbox]:checked + label::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.switch label {
  cursor: pointer;
  width: 48px;
  height: 24px;
  background: var(--notification);
  display: block;
  border-radius: 15px;
  position: relative;
}
.switch label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: var(--lightText);
  border-radius: 15px;
  transition: 0.3s;
}

@media (max-width: 742px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .content-container .appIntro {
    max-width: 100%;
  }
  .feature-section {
    grid-template-columns: repeat(2, 200px);
  }
  .feature-section .get-involved {
    grid-column: span 2;
  }
  .cta .cta-btn {
    padding: 80px 0;
  }
  .cta .cta-btn p {
    font-size: 2em;
  }
  .cta .cta-btn a {
    padding: 15px 30px;
    font-size: 1rem;
  }
}
@media (max-width: 488px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .content-container .appIntro {
    max-width: 100%;
  }
  .feature-section {
    grid-template-columns: repeat(2, 140px);
  }
  .feature-section .get-involved {
    grid-column: span 2;
  }
  .notifications {
    right: -50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    padding: 1rem;
    max-width: 100%;
  }
}
@-webkit-keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--primaryBackground);
  overflow: hidden;
  z-index: -999;
}
.background span {
  width: 45vmin;
  height: 45vmin;
  border-radius: 45vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation: move;
          animation: move;
  -webkit-animation-duration: 12;
          animation-duration: 12;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.background span:nth-child(0) {
  color: #005aff;
  top: 43%;
  left: 88%;
  -webkit-animation-duration: 97s;
          animation-duration: 97s;
  -webkit-animation-delay: -132s;
          animation-delay: -132s;
  transform-origin: 4vw 21vh;
  box-shadow: 90vmin 0 11.9018082465vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--notification);
  top: 43%;
  left: 93%;
  -webkit-animation-duration: 224s;
          animation-duration: 224s;
  -webkit-animation-delay: -304s;
          animation-delay: -304s;
  transform-origin: 14vw 1vh;
  box-shadow: 90vmin 0 11.2628221838vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--primaryBackground);
  top: 77%;
  left: 65%;
  -webkit-animation-duration: 381s;
          animation-duration: 381s;
  -webkit-animation-delay: -260s;
          animation-delay: -260s;
  transform-origin: 6vw 9vh;
  box-shadow: -90vmin 0 12.2009838536vmin currentColor;
}
.background span:nth-child(3) {
  color: var(--tertiaryBackground);
  top: 53%;
  left: 83%;
  -webkit-animation-duration: 320s;
          animation-duration: 320s;
  -webkit-animation-delay: -270s;
          animation-delay: -270s;
  transform-origin: 7vw -9vh;
  box-shadow: -90vmin 0 11.9351076189vmin currentColor;
}
.background span:nth-child(4) {
  color: #005aff;
  top: 50%;
  left: 46%;
  -webkit-animation-duration: 298s;
          animation-duration: 298s;
  -webkit-animation-delay: -72s;
          animation-delay: -72s;
  transform-origin: -15vw -1vh;
  box-shadow: -90vmin 0 11.7508464792vmin currentColor;
}
.background span:nth-child(5) {
  color: var(--secondaryBackground);
  top: 42%;
  left: 26%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -136s;
          animation-delay: -136s;
  transform-origin: -12vw -1vh;
  box-shadow: 90vmin 0 11.2555767558vmin currentColor;
}
.background span:nth-child(6) {
  color: #005aff;
  top: 23%;
  left: 16%;
  -webkit-animation-duration: 266s;
          animation-duration: 266s;
  -webkit-animation-delay: -333s;
          animation-delay: -333s;
  transform-origin: -15vw 7vh;
  box-shadow: -90vmin 0 11.8246004878vmin currentColor;
}
.background span:nth-child(7) {
  color: #005aff;
  top: 80%;
  left: 6%;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -264s;
          animation-delay: -264s;
  transform-origin: -19vw -21vh;
  box-shadow: 90vmin 0 11.46704593vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 7%;
  left: 24%;
  -webkit-animation-duration: 266s;
          animation-duration: 266s;
  -webkit-animation-delay: -164s;
          animation-delay: -164s;
  transform-origin: 19vw 23vh;
  box-shadow: -90vmin 0 12.2181254493vmin currentColor;
}
.background span:nth-child(9) {
  color: #005aff;
  top: 9%;
  left: 80%;
  -webkit-animation-duration: 136s;
          animation-duration: 136s;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
  transform-origin: 12vw 18vh;
  box-shadow: 90vmin 0 12.2325725103vmin currentColor;
}/*# sourceMappingURL=connect.css.map */