@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  display: none;
}

*::-webkit-scrollbar-track:hover {
  background: #bbb;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 15px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
}

.content-active {
  display: block !important;
  border-radius: 15px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
          box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
}

.wrapper .login-register {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(238, 238, 238, 0.5);
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wrapper .login-register .form-tab {
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
}

.wrapper .login-register .form-tab:hover {
  border-radius: 15px;
  cursor: pointer;
}

.wrapper .login-register .content {
  color: #777;
  background: white;
  display: none;
}

.wrapper .login-register .content .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .login-register .content label,
.wrapper .login-register .content input {
  margin: .5rem;
  padding: 2px;
}

.wrapper .login-register .content label:focus,
.wrapper .login-register .content input:focus {
  border-bottom: 2px solid #003366;
}

.wrapper .login-register .content input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #EBF0F6;
}

.wrapper .login-register .content .submit-btn {
  color: #eee;
  background-color: #004992;
  cursor: pointer;
  width: 150px;
  border-radius: 15px;
}

.wrapper .login-register .content .submit-btn:hover {
  background-color: #003366;
}

.wrapper .login-register ul {
  width: 100%;
  padding: 0rem 0;
  margin: 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
  border-radius: 15px;
  border: 1px solid;
}

.wrapper .login-register ul li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  background-color: transparent;
  color: #777;
}

.wrapper .login-register ul .active {
  color: #eee;
  display: block;
  background-color: #003061;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100px;
  border-radius: 15px;
}

.wrapper .login-register ul .active:hover {
  background-color: #003366;
  border-radius: 15px;
}

.wrapper .feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  justify-self: stretch;
  padding: 80px 0;
}

.wrapper .feature-section h2 {
  font-size: 2rem;
  margin: 0 0 40px;
  text-align: center;
  grid-column: 1 / -1;
  color: #383544;
}

.wrapper .feature-section .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.wrapper .feature-section .features .feature-item {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.896);
  text-align: center;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 15px 0.5px rgba(56, 53, 68, 0.1);
          box-shadow: 0 0 15px 0.5px rgba(56, 53, 68, 0.1);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
  border-radius: 15px;
  padding-top: 30px;
}

.wrapper .feature-section .features .feature-item i {
  position: absolute;
  width: 55px;
  height: 55px;
  top: -33px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px 2px rgba(0, 0, 0, 0.2);
  padding: 11px;
  color: #003061;
  background-color: #fff;
  font-size: 2.5rem;
}

.wrapper .feature-section .features .feature-item h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

.wrapper .feature-section .get-involved {
  grid-column: 1 / -1;
  text-align: center;
}

.wrapper .feature-section .get-involved a {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-decoration: none;
  color: #fff;
  background-color: #383544;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 20px 0;
  -webkit-box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
          box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .feature-section .get-involved a:hover {
  -webkit-box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.8);
          box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.8);
  background-color: #2c2a36;
}

.wrapper .feature-section .get-involved a i {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 15px;
}

.wrapper .cta {
  text-align: center;
}

.wrapper .cta .cta-btn {
  padding: 100px 0;
}

.wrapper .cta .cta-btn p {
  font-size: 2.5rem;
  margin: 0;
}

.wrapper .cta .cta-btn a {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  background-color: #003061;
  padding: 20px 80px;
  border-radius: 15px;
  margin: 50px 0;
  -webkit-box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
          box-shadow: 0 0 8px 1px rgba(56, 53, 68, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrapper .cta .cta-btn a:hover {
  -webkit-box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.6);
          box-shadow: 2px 2px 10px 1px rgba(56, 53, 68, 0.6);
  background-color: #002348;
}

.wrapper .cta .cta-btn .warning {
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  opacity: 0.6;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121011 !important;
  text-decoration: none;
}

.footer a i {
  margin-left: 5px;
}

.content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5rem;
}

.content-container .appIntro {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 40%;
}

.content-container .appIntro h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.content-container .appIntro p {
  font-size: 1.5rem;
  color: #5b5e61;
}

.content-container .text-links {
  font-size: 1rem;
  font-weight: 400;
  color: #003061;
  text-decoration: none;
}

.content-container .wrapper {
  max-width: 30rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 15px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-container .wrapper .heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.content-container .wrapper .heading h1 {
  font-size: 2rem;
}

.content-container .wrapper .form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.content-container .wrapper .form .input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-container .wrapper .form .input-control .input-control-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.content-container .wrapper .form .input-control .input-control-item input {
  margin-right: 5px;
  cursor: pointer;
}

.content-container .wrapper .form .input-control .input-control-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.content-container .wrapper .form .input-control .input-control-item label p {
  cursor: pointer;
}

.content-container .wrapper .form .input-control .input-control-item label i {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 5px;
}

.content-container .wrapper .form .visible-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .wrapper .form .visible-remember input {
  margin-right: 5px;
}

.content-container .wrapper .form .visible-remember label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container .wrapper .form .visible-remember label i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.content-container .wrapper .form .message-failure {
  border-radius: 15px;
  margin: 8px;
  padding: 8px;
  background-color: #ffa7a7;
  color: #777;
}

.content-container .wrapper .form .message-success {
  border-radius: 15px;
  margin: 8px;
  padding: 8px;
  background-color: #88ffa5;
  color: #777;
}

.content-container .wrapper .form .input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: #ebf0f6;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}

.content-container .wrapper .form .input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 0.65rem 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  background: #003061;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
          box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.753);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

@media (max-width: 742px) {
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container .appIntro {
    max-width: 100%;
    display: none;
  }
  .feature-section {
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
  }
  .feature-section .get-involved {
    grid-column: span 2;
  }
  .cta .cta-btn {
    padding: 80px 0;
  }
  .cta .cta-btn p {
    font-size: 2em;
  }
  .cta .cta-btn a {
    padding: 15px 30px;
    font-size: 1rem;
  }
}

@media (max-width: 488px) {
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container .appIntro {
    max-width: 100%;
    display: none;
  }
  .feature-section {
    -ms-grid-columns: (140px)[2];
        grid-template-columns: repeat(2, 140px);
  }
  .feature-section .get-involved {
    grid-column: span 2;
  }
}

.notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  position: fixed;
  right: 0rem;
  top: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  gap: 1rem;
  margin: 1rem;
  z-index: 1;
}

.notifications .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f9fd;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.notifications .notification .notificationTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1rem 0rem 1rem;
  gap: 1rem;
}

.notifications .notification .notificationBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.notifications .notification .notificationBody .profilePicture {
  border: 1px solid #003061;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #003061;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.notifications .notification .notificationBody .notificationContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.notifications .notification .notificationActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0rem 1rem 1rem 1rem;
  gap: 1rem;
}

.notifications .notification .notificationActions button {
  padding: .5rem 1rem;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.notifications .notification .notificationActions .normal {
  background-color: #ebf0f6;
  color: #5b5e61;
}

.notifications .notification .notificationActions .confirm {
  background-color: #003061;
  color: white;
}

.notifications .notification .notificationProgressBar {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}
/*# sourceMappingURL=signUp.css.map */